{% extends 'authentication/layouts/base.html' %} 
{% load static %} 
{% block content %}

 <div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <div class="logo"><h1>Login</h1></div>
    </div>/
  </div>
  <div class="template-page-wrapper">
  <form method="POST" 
      class="form-horizontal templatemo-signin-form"
  >
    {% csrf_token %}
    {{ login_form.as_p }}
    <button class="btn btn-default" type="submit">Login</button>
  </form>
  </div>
{% endblock %}
