<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title></title>
</head>

<body>
  <h1 style="text-align: center;font-size: 17px;">
    Lettre d'Authorisation
 </h1> 
  <p style="font-size:13px">
    Je soussigné {{ dossier.client.nom }}  {{ dossier.client.prenom }} avoir appliqué pour un
    crédit à la consommation et autorise {{ dossier.client.societe }} 
    et ses partenaires à faire des recherches
    concernant mon passé, mon emploi et d'autres
    informations qu'ils jugeront nécessaires., et tout cela
    dans le but de mieux évaluer les risques qu'ils
    pourraient encourir en octroyant un crédit. Je reconnais
    aussi que tout autre institution financière à laquel ils
    pourraient faire recours utilisera le même processus.
    J'accepte aussi d'être transféré de terrain, de site, de
    région, de banque ou di'institution financière, sans
    dédommagement si pour des raisons personnelles, {{ dossier.client.societe }}  en jugeait l'utilité.<br /><br />

    L'institution financière sous citée pourrait être celle
    qui est responsable du futur contrat de financement
    concernant ma cession si  {{ dossier.client.societe }}  leur
    transmettait mon dossier, et je m'engage par la présente
    à me conformer aux normes, conditions et termes de cette
    nouvelle institution. Je suis par là notifié que mon
    application pour crédit consommateur pourrait leur être
    soumise.
    <br />
    Institution financière : <strong>{{ dossier.client.societe }}</strong>
</body>
</html>