<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>Document</title>
    <style>
      * {
          box-sizing: border-box;
      }

      body {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 1.3rem;
        font-family: Helvetica, Arial,sans-serif;
      }

      /*table, tr {

          margin-left: 30px;
      }*/

      .container1 .no {
        border: none;
      }

      table, td {
          border: none;
          padding-top: 2px;
          margin-left: 2px;
      }

      table, th {
          border: 0px;
      }

      .bordered {
          margin-left: 30px;
          border: none;
      }

      table {
          font-size: 11px;
          width: 50%;
          border-collapse: collapse;
          margin-top: 0;
          margin-left: 0px;
      }
      h1, h2, h3, h4 {
        margin-bottom: 0px;
        padding-bottom: 0px;
      }

      .margin h2 {
        font-size: 15px;
        text-decoration: underline;
      }

      body h1 {
        font-size: 25px;
        font-weight: bold;
      }

      table tr:first-child {
      margin-left: 0px;
      }

      table tr .bordered {
      margin-left: 0px;
      }

      .equal-table table tr {
      margin-top: 100px;
      }

      .margin-top {
      margin-top: 100px;
      }

      h2 p {
      margin-top: 0px;
      }

  </style>
</head>

<body>

    <h1 align="center">CONTRAT DE LOCATION<br>
    CESSION DE TERRAIN A USAGE D'HABITATION</h1>
    <p align="right">P1</p>
    <p>Il s’agit d’un contrat de location, cession, pour l’acquisition à long terme de bien(s) à la consommation en l'état futur d'achèvement, ENTRE LES SOUSSIGNÉS, <br></p>
    <p>
        #REF!<br>
        Représenté par lui même<br>
        CI-APRÈS DÉNOMMÉ LE BAILLEUR, d’une part<br>
    </p>

    <div>
        <h2 style="margin-bottom: 15px;">Et d’autre part</h2>
          <table width="55%">

              <tbody>
                  <tr>
                      <td colspan="2" class="bordered">MR/MME/MLLE</td>
                      <td class="bordered">#REF!</td>
                      <td class="bordered" colspan="2"></td>
                      <td class="bordered"></td>
                  </tr>
                  <tr>
                      <td colspan="2" class="bordered">Né le</td>
                      <td class="bordered">#REF!</td>
                      <td align="center" class="bordered" colspan="2">à</td>
                      <td align="center" class="bordered">#REF!</td>
                  </tr>
                  <tr>
                      <td colspan="2" class="bordered">Demeurant à</td>
                      <td class="bordered">#REF!</td>
                      <td class="bordered" colspan="2"></td>
                      <td class="bordered"></td>
                  </tr>
                  <tr>
                      <td colspan="2" class="bordered"></td>
                      <td class="bordered">#REF!</td>
                      <td align="center" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered"></td>
                  </tr>
                  <tr>
                      <td colspan="2" class="bordered"></td>
                      <td class="bordered">#REF!</td>
                      <td class="bordered" colspan="2"></td>
                      <td class="bordered"></td>
                  </tr>
                  <tr>
                      <td align="right" colspan="2" class="bordered" style="margin-right: 5px;">CIN</td>
                      <td class="bordered">#REF!</td>
                      <td class="bordered" colspan="2"></td>
                      <td class="bordered"></td>
                  </tr>
              </tbody>
          </table>
    </div>


    <div>
        <h2 style="margin-bottom: 15px;">Représenté par</h2>
          <table width="55%">

              <tbody>
                  <tr>
                      <td colspan="2" class="bordered">MR/MME/MLLE</td>
                      <td class="bordered">#REF!</td>
                      <td class="bordered" colspan="2"></td>
                      <td class="bordered"></td>
                  </tr>
                  <tr>
                      <td colspan="2" class="bordered">Né le</td>
                      <td class="bordered">#REF!</td>
                      <td align="center" class="bordered" colspan="2">à</td>
                      <td align="center" class="bordered">#REF!</td>
                  </tr>
                  <tr>
                      <td colspan="2" class="bordered">Demeurant à</td>
                      <td class="bordered">#REF!</td>
                      <td class="bordered" colspan="2"></td>
                      <td class="bordered"></td>
                  </tr>
                  <tr>
                      <td colspan="2" class="bordered"></td>
                      <td class="bordered">#REF!</td>
                      <td align="center" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered"></td>
                  </tr>
                  <tr>
                      <td colspan="2" class="bordered"></td>
                      <td class="bordered">#REF!</td>
                      <td class="bordered" colspan="2"></td>
                      <td class="bordered"></td>
                  </tr>
                  <tr>
                      <td align="right" colspan="2" class="bordered" style="margin-right: 5px;">CIN</td>
                      <td class="bordered">#REF!</td>
                      <td class="bordered" colspan="2"></td>
                      <td class="bordered"></td>
                  </tr>
              </tbody>
          </table>
    </div>

    <p>CI-APRÈS DÉNOMMÉ LE LOCATAIRE,</p>
    <p>Cette souscription en forme de V.E.F.A. (Vente en l'Etat de Futur Achèvement), permet au locataire de devenir propriétaire par voie d’accession au fur et à
        mesure de l'avancement des obtentions des biens loués, de leurs documents administratifs et des réalisations de leurs travaux, à charge pour lui de s'assurer
        de continuer à payer son loyer en respectant ses engagements et de façon échelonnée. Il a à cet effet été arrêté et convenu ce qui suit :
        Le locataire souscrit pour un contrat de location, cession, lui permettant d’acquérir le(s) bien(s) de consommation ci décrits, en l'état futur d'achèvement
        et qu'il accepte aux conditions suivantes:
    </p>

    <div>
        <h2 style="margin-bottom: 15px; font-size: 20px;">DESCRIPTION ARTICLE LOUE</h2>
          <table width="55%">

              <tbody>
                  <tr>
                      <td colspan="2" class="bordered">Type d'article loué</td>
                      <td class="bordered"></td>
                      <td align="center" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered"></td>
                  </tr>
                  <tr>
                      <td colspan="2" class="bordered">Site</td>
                      <td class="bordered"></td>
                      <td align="center" class="bordered" colspan="2">#REF!</td>
                      <td align="center" class="bordered"></td>
                  </tr>
                  <tr>
                      <td colspan="2" class="bordered">Surface</td>
                      <td class="bordered"></td>
                      <td align="center" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered"></td>
                  </tr>
                  <tr>
                      <td colspan="2" class="bordered">Numéro de série</td>
                      <td class="bordered"></td>
                      <td align="center" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered"></td>
                  </tr>
              </tbody>
          </table>
    </div>
    <br>
    <br>

    <div>
        <h2 style="margin-bottom: 15px; font-size: 20px;">REFERENCES PROPRIETAIRE ACCREDITE</h2>
          <table width="75%">

              <tbody>
                  <tr>
                      <td colspan="3" class="bordered">Nom de boutique</td>
                      <td class="bordered"></td>
                      <td align="center" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered"></td>
                      <td colspan="2" class="bordered"></td>
                  </tr>
                  <tr>
                      <td colspan="3" class="bordered">Adresse</td>
                      <td class="bordered"></td>
                      <td class="bordered" colspan="2">#REF!</td>
                      <td class="bordered"></td>
                      <td colspan="2" class="bordered"></td>
                  </tr>
                  <tr>
                      <td colspan="4" class="bordered"></td>
                      <td class="bordered">#REF!</td>
                      <td class="bordered" colspan="2"></td>
                      <td class="bordered"></td>
                      <td align="center" colspan="2" class="bordered">#REF!</td>
                  </tr>
                  <tr>
                      <td colspan="3" class="bordered">Pays</td>
                      <td class="bordered"></td>
                      <td class="bordered" colspan="2">#REF!</td>
                      <td class="bordered"></td>
                      <td colspan="2" class="bordered"></td>
                  </tr>
                  <tr>
                      <td colspan="3" class="bordered">Téléphone</td>
                      <td class="bordered"></td>
                      <td class="bordered" colspan="2">#REF!</td>
                      <td class="bordered"></td>
                      <td colspan="2" class="bordered"></td>
                  </tr>
                  <tr>
                      <td colspan="3" class="bordered">Numéro de référence</td>
                      <td class="bordered"></td>
                      <td class="bordered" colspan="2">#REF!</td>
                      <td class="bordered"></td>
                      <td colspan="2" class="bordered"></td>
                  </tr>
              </tbody>
          </table>
    </div>
    <br>
    <br>

    <h2 align="center" style="font-size: 20px;">CONDITIONS GENERALES</h2>
    <p>BIEN(S) DE CONSOMMATION A USAGE PERSONNEL OU FAMILIAL EXCLUSIVEMENT<br>
        Il a été arrêté et convenu ce qui suit, le bailleur louant les peines, soins et droits et / ou équipements contenus sur le(s) terrain(s) ci-après, désignés, au locataire
        qui les accepte aux conditions suivantes. Le locataire déclare bien comprendre qu’il s’engage pour une acquisition actuellement en l’état futur d’achèvement dans
        un délai donné, mais dont il avu les plans et projets. Le locataire déclare bel et bien avoir accepté de louer le terrain sur plan et en l'état futur d'achèvement.
    </p>

    <p>
        DESIGNATION<br>
        Terrain nu contenant des peines et soins sis au projet de lotissement de la nouvelle cité                « 					#REF!		» promue par le bailleur à
    </p>

    <div>
          <table width="30%">

              <tbody>
                  <tr>
                      <td colspan="3" class="bordered"></td>
                      <td align="center" class="bordered">#REF!</td>
                  </tr>
                  <tr>
                      <td colspan="3" class="bordered">Bâtiment </td>
                      <td class="bordered">#REF!</td>
                  </tr>
                  <tr>
                      <td colspan="3" class="bordered">Inexistant</td>
                      <td class="bordered">#REF!</td>
                  </tr>
                  <tr>
                      <td colspan="3" class="bordered">Etages</td>
                      <td class="bordered">#REF!</td>
                  </tr>
                  <tr>
                      <td colspan="3" class="bordered">Porte</td>
                      <td class="bordered">#REF!</td>
                  </tr>
                  <tr>
                      <td colspan="3" class="bordered"></td>
                      <td class="bordered">#REF!</td>
                  </tr>
                  <tr>
                      <td colspan="4" class="bordered">Consistance de l’immeuble:</td>
                  </tr>
                  <tr>
                      <td colspan="3" class="bordered">Terrain de </td>
                      <td class="bordered">#REF!</td>
                  </tr>
                  <tr>
                      <td colspan="3" class="bordered">Numéro de référence</td>
                      <td class="bordered">#REF!</td>
                  </tr>
              </tbody>
          </table>
    </div>
    <br>

    <div>
        <h2>1) DURÉE DU CONTRAT </h2>
        <p>Le contrat est consenti :
            <ul>
                <li>
                   pour une durée égale à 		#REF!	mois                  (	#REF!	) commençant à courir le  		#REF!
                    et se terminant le	#REF!	.
                </li>
            </ul>
        </p>
    </div>
    <br>

    <div>
        <h2>2) RESILIATION A COURT OU MOYEN TERME</h2>
        <p>
           La résiliation à court ou moyen terme du contrat doit être signifiée par lettre recommandée avec accusé de réception ou par acte d'huissier. Elle ne
           peut être honorée qu’avant le versement de la première mensualité, pour le locataire. Toute résiliation après ce stade entrainera une perte de 45% de ses
           arrhes, la conservation de la caution jusqu’à avoir trouvé un nouvel acquéreur pour l'article, et finalement un remboursement selon la clause diplomatique.
           La résiliation à court ou moyen terme du contrat par le financier peut être délivrée à tout moment de la durée du contrat, et strictement pour un des trois
           motifs ci-après, dûment énoncés:
            <div style="margin-left: 100px;">
           <ul><!--&nbsp;-->
             <li style="list-style-type: none;">1) l'impossibilité de joindre le souscripteur pendant un minimum de 15 jours d’affilés.</li>
             <li style="list-style-type: none;">2) Destruction ou mauvais usage des biens livrés avant de les avoir soldés.</li>
             <li style="list-style-type: none;">3) Motif légitime et sérieux, notamment l'inexécution par le locataire des obligations lui incombant.</li>
           </ul>
            </div>
        </p>
    </div>
    <br>

    <div>
        <h2>3) RESILIATION IMMEDIATE </h2>
        <p>
           Le contrat est résilié de plein droit par :
            <div style="margin-left: 100px;">
           <ul><!--&nbsp;-->
             <li style="list-style-type: none;">- l'impossibilité de joindre le souscripteur pendant un minimum de 15 jours d’affilés. </li>
             <li style="list-style-type: none;">- l'inexécution par le souscripteur de un (01) mois de ses mensualités lui incombant. </li>
           </ul>
            </div>
        </p>
    </div>

    <p>
        Toute résiliation de plein droit entrainera une perte de 45% des arrhes du locataire, la conservation de la caution jusqu’à avoir trouvé un nouvel locataire pour
        l'article, et finalement un remboursement selon la clause diplomatique.
    </p>

    <div>
        <h2>4) OBLIGATIONS DU LOCATAIRE </h2>
        <div style="margin-left: 100px;">
           <ul><!--&nbsp;-->
             <li style="list-style-type: lower-alpha;">Payer le loyer et les charges récupérables aux termes convenus et d’accepter que toutes sommes versées dans le courant de ce contrat
                sont non remboursables ni transférables sauf cas de clause diplomatique.</li>
             <li style="list-style-type: lower-alpha;">Payer la somme de		#REF!	millions	#REF!	cent
                #REF!	milles	#REF!	Francs CFA.	#REF!	F CFA.
                mois à compter du	#REF!	et cela jusqu'au	#REF!</li>
             <li style="list-style-type: lower-alpha;">Payer la somme de dix mille Francs CFA  (10.000 F CFA) représentant les frais d’ouverture de dossier.	</li>
            <li style="list-style-type: lower-alpha;">Payer la somme de vingt cinq mille cinq francs CFA (25.000 F CFA) représentant les frais d'ouverture et de montage de dossier.	</li>
               <li style="list-style-type: lower-alpha;">Payer la somme de trente mille francs CFA (30.000 F CFA) par an pour la souscription à une protection vie ou invalidité, au cas où ce dernier
                   décèderait ou serait médicalement déclaré invalide. Cette couverture servirait à rembourser le ou les prêt (s) et de permettre que le ou (les)
                    bien (s) soit (ent) octroyé(s) de manière définitive à la famille du défunt ou du nouvel invalide. 							</li>
               <li style="list-style-type: lower-alpha;">Payer la somme detrente mille francs CFA (30.000 F CFA) par an pour la souscription à une protection perte d’emploi ou de revenus, au cas
                    où ce dernier serait sans emploi ou perdrait ses revenus. Cette couverture permettrait de mettre à jour les paiements non effectués à cause
                    de la situation. 							</li>
               <li style="list-style-type: lower-alpha;">Accepter de payer une pénalité de quinze mille (35.000 F CFA) si le locataire décidait et obtenait l’autorisation, pour quelle que raison que
                    ce soit de changer les paramètres de propriété de son contrat (transfert de dossier au nom de quelqu’un d’autre). C’est la mutation.							</li>
               <li style="list-style-type: lower-alpha;">
                   Accepter de payer une pénalité de trente-cinq mille francs CFA (35.000 F CFA) si le locataire décidait et obtenait l’autorisation, pour quelle
                    que raison que ce soit de réduire ou rallonger la durée de ses paiements mensuels. C’est la restructuration.
               </li>
               <li style="list-style-type: lower-alpha;">Accepter de payer une pénalité de trente-cinq mille francs CFA (35.000 F CFA) et de s’ajuster aux nouveaux prix du nouveau site, si le locataire
                    décidait et obtenait l’autorisation, pour quelle que raison que ce soit de changer de site, de localité, et même de région. C’est la délocalisation.
               </li>
               <li style="list-style-type: lower-alpha;">
                   Si le souscripteur a souscrit pour un ou plusieurs prêts chez le bailleur, il accepte qu’en cas de non paiement sur les autres prêts ou locations,
                    ses compte(s) créditeur(s) en cours soit (ent) débité(s) pour solder le(s) compte(s) débiteur(s) sur l’ ou les autre(s) prêt(s).
               </li>
               <li style="list-style-type: lower-alpha;">
                   S'assurer convenablement contre les risques locatifs, l'incendie, les explosions, les dégâts des eaux; étant clairement entendu que faute
                     de ce faire à la remise des documents ou de justifier chaque année de la poursuite du contrat d'assurance ou de protection, le locataire
                     s'expose à l'application de la clause  résolutoire du contrat, passé le délai d'UN MOIS (01) suivant un commandement demeuré infructueux.
               </li>
               <li style="list-style-type: lower-alpha;">Accepter que bien que ce contrat et le(s) contrat(s) de protection(s) soient distincts, ils sont liés par le(s) terrain(s), villa(s) ou appartement(s)
                    dont les documents officiels et définitifs ne pourront être remis que lorsque les documents suivants (contrat(s) de protection  d’abord, puis le
                    présent contrat de location cession) seront définitivement honorés.
               </li>
               <li style="list-style-type: lower-alpha;">Utiliser le(s) nouveau(x) bien(s) acquis en respectant leur(s) destination(s) en prenant soin et en le(s) maintenant propre(s) et en parfait
                    état(s) de fonctionnement pendant toute la durée du prêt.
               </li>
               <li style="list-style-type: lower-alpha;">Accepter d’aviser le bailleur avant la fin du mois en cours, en cas de difficultés quelconques pour effectuer les paiements, car tous les
                    paiements sont dus par mois et d’avance, le premier (01) de chaque mois.
               </li>
               <li style="list-style-type: lower-alpha;">Accepter que tout retard au-delà du 10 du mois en cours entraine automatiquement une pénalité de cinq mille (5.000 F CFA) supplémentaires
                    par rapport au montant à payer. Tout retard entrainera aussi une forte réduction des chances d’être aussi éligibles pour d’autres prêts.
               </li>
               <li style="list-style-type: lower-alpha;">p- Accepter qu’en reconnaissant que le ou les biens(s) demeurent la ou les propriété(s) du bailleur jusqu’à paiement complet, il n’aura par
                    conséquent pas le droit de revendre, prêter, louer ou le (s) donner tant qu’il n’aura pas fini tous ses paiements. Toute tentative illégale sera
                   soumise à la pleine application de la loi selon le code des obligations civiles et commerciales.
               </li>
               <li style="list-style-type: lower-alpha;">Accepter de perdre son ou ses biens ainsi que tout acompte versé, si les paiements mensuels ne sont pas effectués pendant un seul (1)
                    mois. (Exemple : si janvier et février sont payés et que mars ne l’est pas, il s’agit d’un (1) seul mois impayé pour aller en contentieux).
               </li>
               <li style="list-style-type: lower-alpha;">Accepter de prendre en charge TOUS les frais engendrés par le bailleur dans le processus de recouvrement le concernant, quels que
                    soient les moyens utilisés par le bailleur pour arriver à sa fin. C’est-à-dire que le locataire accepte de payer :
                    <div style="margin-left: 60px;">
                       <ul><!--&nbsp;-->
                         <li style="list-style-type: none;">1) 300 F CFA par minute par appel de recouvrement.		</li>
                         <li style="list-style-type: none;">2) 50.000 F CFA de frais d’huissier par dossier pour courrier de relance.			</li>
                         <li style="list-style-type: none;">3) 300.000 F CFA de dépôt de provision initial par introduction de dossier auprès d’un avocat pour contentieux ou résiliation
                            de plein droit.
                         </li>
                           <li style="list-style-type: none;">4) plus tous autres frais émanant du recouvrement.
                         </li>
                       </ul>
                    </div>
               </li>
               <li style="list-style-type: lower-alpha;">Renoncer à tous recours contre le bailleur ou le promoteur en cas de problèmes techniques, retards de documents administratifs ou
                    dysfonctionnements dus à l'administration. Choses qui ne devront en aucun cas empêcher de s’acquitter de ses paiements mensuels
                    tout en réglant le problème avec l'aide du bailleur ou du promoteur.
               </li>
               <li style="list-style-type: lower-alpha;">Accepter de demander l’autorisation expresse et écrite avec accusé de réception au bailleur avant d’entreprendre quelque réparation ou
                    amélioration que ce soit, excepté si l’article est complètement payé.
               </li>
               <li style="list-style-type: lower-alpha;">
                   Suggérer qu’en cas de décès, le seul interlocuteur en mesure de régler quelle que situation que ce soit, soit celui, celle(s) ou ceux
                   désigné(e)(s) par son testament ou un jugement d’hérédité ou désigné(e)(s) légalement par sa famille directe (fils, fille(s), frère(s), sœur(s),
                    mère ou père ensemble).
               </li>
               <li style="list-style-type: lower-alpha;">User paisiblement les immeubles loués en respectant leur destination. 			</li>
               <li style="list-style-type: lower-alpha;">Répondre des dégradations ou des pertes survenues pendant le cours du contrat. 				</li>
               <li style="list-style-type: lower-alpha;">Prendre à sa charge l'entretien courant de l’(des) immeuble(s), et l'ensemble des menues réparations lui incombant. 						</li>
               <li style="list-style-type: lower-alpha;">Ne faire aucun changement de distribution ou transformation sans l'accord préalable et écrit du bailleur sous peine de remise en état de
                    l’(des) immeuble(s) à ses frais ou de résiliation anticipée du présent contrat suivant la gravité de l'infraction. 							</li>
               <li style="list-style-type: lower-alpha;">Informer immédiatement le bailleur ou son représentant, de tout changement d'état civil concernant les occupants, de tous désordres,
                    dégradations, sinistres survenant dans les lieux loués. 							</li>
               <li style="list-style-type: lower-alpha;">Laisser exécuter sans indemnité tous les travaux nécessaires à la remise en état ou à l'amélioration des lieux loués et des parties communes. </li>
               <li style="list-style-type: lower-alpha;">Laisser visiter l’(les) immeuble(s) deux (02) heures par jour pendant les jours ouvrables en cas de désistement, d’incapacité à payer
                ses loyers, de procédure  judiciaire visant à expulser, de cession ou de nouvelle souscription. 							</li>
               <li style="list-style-type: lower-alpha;">Respecter le règlement du lotissement.</li>
                <li style="list-style-type: lower-alpha;">Renoncer à tous recours contre le bailleur en cas de vol commis dans les lieux loués, interruption du service de l'eau, de l'électricité, trouble
                    de voisinage  et autres troubles indépendants de leur volonté.
                </li>
               <li style="list-style-type: lower-alpha;">Satisfaire à toutes les charges de ville, syndic ou de police dont les locataires sont habituellement tenus.</li>
               <li style="list-style-type: lower-alpha;">Renoncer à tous recours contre le bailleur ou le promoteur en cas de retard des travaux ou des obtentions des documents administratifs
                  si ces derniers sont involontaires du bailleur. Donc accepter de lui donner le temps nécessaire pour obtenir les documents idoines et
                 effectuer les travaux de viabilisation permettant la prise de  jouissance des lieux.
               </li>
               <li style="list-style-type: lower-alpha;">Accepter que si son (ses) dossier(s) est (sont) en contentieux pour cause de non paiement et qu’un ou plusieurs paiements ait (ent) été
                  été perçus par un ou plusieurs de nos agents par inadvertance ou par pure erreur, on lui rembourse automatiquement son (ses) paiement(s)
                  par chèque avec accusé de réception. Ce(s) paiement(s) ne pouvant en aucun cas rouvrir  le(s) dossier(s) qui avait (ent) été clos car en
                  contentieux donc en gestion externe à l’entreprise.
               </li>
               <li style="list-style-type: lower-alpha;">
                   Accepter de n’être en jouissance de son (ou ses) terrains(s) qu’au minimum trois ans  après la signature de ce présent contrat, afin de
                   permettre au bailleur d’effectuer des acquisitions, des procédures administratives, des viabilisations et finitions complètes et effectives, dignes
                   du standard et du standing que s’impose le bailleur.
               </li>
               <li style="list-style-type: lower-alpha;">
                   Ne tenir en aucun cas le bailleur responsable du retard des travaux si celui-ci a été causé par un retard d’administration ou autre procédure
                    indépendante de sa bonne volonté.
               </li>
               <li style="list-style-type: lower-alpha;">
                   S’engager à payer la somme de dix mille francs Cfa (10.000) par mois une fois qu’il ou elle sera propriétaire. Ce montant servirait à payer
                     les gardiens, les jardiniers et autres corps et services produits qui seront regroupés en syndic et permettant une harmonie dans la cité.
                     Ce montant fluctuera en fonction du taux d’inflation, du PNB et du PIB du pays dans lequel le protocolecontrat est signé. Un courrier de
                     notification sera envoyé par le syndic à chaque fois qu’une évolution aura lieu.
               </li>
               <li style="list-style-type: lower-alpha;">
                   Accepter qu’après s’être acquitté de tous ses loyers jusqu’à finalement être propriétaire, toute éventuelle vente ou cession de sa ou ses
                   immeubles(s) à une tiers personne à terme, sera accompagnée d’une notification au nouvel acquéreur lui signifiant qu’il sera
                     désormais en charge de payer le syndic de copropriété. Au cas où la notification n’est pas faite au nouvel acquéreur, l’ancien propriétaire,
                     en l’occurrence le signataire de ce contrat, demeurera responsable de continuer les paiements au syndic.
               </li>
               <li style="list-style-type: lower-alpha;">
                   Accepter qu’après s’être acquitté de tous ses loyers jusqu’à finalement être propriétaire, de payer toutes les taxes et frais notariés requis
                     pour la mutation des documents en son propre nom si nécessaire. Ces frais seront directement payés au cabinet de notaire qui sera
                     désigné par le bailleur après règlement total des montants dus.
               </li>

           </ul>
        </div>
    </div>

    <div>
        <h2>5) MONTANT DU PAIEMENT MENSUEL 	 </h2>
        <p>
           Le montant du paiement mensuel est indiqué au chapitre CONDITIONS PARTICULIÈRES du présent contrat.

        </p>
    </div>

    <div>
        <h2>6) FRAIS D’OUVERTURE ET DE MONTAGE DE DOSSIER 	 </h2>
        <p>
           Le locataire accepte de payer dès l’ouverture ce dossier de prêt, la somme de vingt cinq mille (25.000 F CFA) représentant les frais d’ouverture et de montage de
            dossier non remboursables ni transférables.
        </p>
    </div>

    <div>
        <h2>7) DÉPÔT DE GARANTIE 	</h2>
        <p>
           Le montant du dépôt de garantie est indiqué aux CONDITIONS PARTICULIÈRES du présent contrat. Il n'est ni révisable ni productif d'intérêt. Il est destiné
            à être remboursé au locataire en chèque de restitution à la fin de tous les paiements ou voir CLAUSE DIPLOMATIQUE en cas de résiliation.
        </p>
    </div>

    <div>
        <h2>8) CAUTIONNEMENT 	</h2>
        <p>
          Le locataire peut souhaiter qu'un tiers se porte caution en garantissant l'exécution des obligations de ce présent contrat en cas de défaillance éventuelle
            de sa part. Le tiers se porte caution au travers de sa co-signature, et de sa signature d’un document annexe nommé notification au cosignataire dans lequel
            il reconnaît la nature et l'importance de l'engagement qu’il signe.
        </p>
    </div>

    <div>
        <h2>9) CLAUSE RÉSOLUTOIRE 	</h2>
        <p>
          Il est expressément convenu qu'à défaut de paiement au terme convenu de tout ou partie d’une seule mensualité, de protections ou assurances, de charges, du dépôt de garantie, et
        UN MOIS (01) après une mise en demeure demeurée infructueuse, le présent contrat sera résilié de plein droit et les biens loués récupérés, si bon semble au bailleur, sans aucune
         formalité judiciaire.
        </p>
        <p>
            Un commandement visant le défaut d'assurance et / ou de protections aura les mêmes effets passé le délai de DEUX SEMAINES (02). Le mauvais payeur
            déchu de ses droits au contrat et qui refusera à restituer les biens loués, pourra les voir récupérés et à ses propres frais y compris les pénalités et
            astreintes sur simple ordonnance du juge des référés, exécutoire par provision nonobstant appel (clause 4, r-).
        </p>
    </div>

    <div>
        <h2>10) CLAUSE PÉNALE  	</h2>
        <p>
          En cas de non-paiement d’une mensualité ou de ses accessoires et même sans le premier acte d'huissier, le locataire devra payer en sus des frais de
            recouvrement et sans préjudice de l'application du Code de Procédure Civile (clause 4, r-).
        </p>
        <p>
           En cas d'occupation des lieux après la cessation du contrat, il sera dû par l'occupant jusqu'à son expulsion, une indemnité égale au montant du loyer et des
            charges contractuelles. En cas de résiliation du contrat aux torts du locataire, le dépôt de garantie restera acquis au bailleur à titre d'indemnité
            conventionnelle.
        </p>
    </div>

    <div>
        <h2>11) CLAUSE DIPLOMATIQUE  	</h2>
        <p>
          Lelocataire et le bailleur acceptent qu’en cas de dévaluation ou de surévaluation toutes sommes versées soient prises en considération par rapport à la nouvelle parité, pour se
            conformer aux nouvelles données du pays ou de la sous-région.
        </p>
        <p>
           Le locataire et le bailleur acceptent aussi qu’en cas de catastrophe naturelle causée ou non par mère nature, ou d’événements politiques massifs et incontrôlables (au-delà de trois
            mois), ou d’autres évènements rendant impossible la capacité de paiement ou de mise à jour pour l’autre, aucune responsabilité ne puisse incomber à l’une des deux parties
            dorénavant. L’un de ces évènements invaliderait alors automatiquement ce contrat en libérant chaque partie de ses obligations sans conséquences aucunes.
        </p>
        <p>
            Le locataire et le bailleur acceptent qu’en cas de litige foncier ou de simple désistement, litige agravé ou non, et que les deux parties n'arrivent pas à s'entendre, ou ne veulent plus
            continuer, ou alors de circonstances non naturelles rendant impossible la livraison ou la prise en jouissance du ou des immeuble(s), les deux parties s’accordent pour l’une des deux
            résolutions suivantes:
        </p>
            <div style="margin-left: 100px;">
               <ol><!--&nbsp;-->
                 <li>
                     Le locataire accepte d’être délocalisé sans autres frais, c'est-à-dire qu’il accepte de recevoir un (des) immeuble(s) autre(s) que celui (ceux) pour lequel(s) il a
                    souscrit(s) et payé les loyers.La plupart du temps, ce(s) nouvel (nouveaux) immeuble(s) attribué(s) a (ont) plus de valeur que l’(les)immeuble(s) initialement choisi(s)
                    à cause de l’âge et de la crédibilité de la société et de l'augmentation de la plus-value de ces terres au  fil des temps.
                 </li>
                 <li>Le locataire accepte que tous les loyers payés (protections non comprises) lui soient intégralement remboursés aux conditions suivantes:</li>
                   <ul>
                       <li style="list-style-type: lower-alpha;">A toute demande de remboursement sera entièrement déduite la valeur de base de 570.000 F CFA (cinq cent soixante-dix mille) par rapport au
                            montant total à rembourser, si et seulement si un cadeau ou surprise avait été contre cédé ou subventionné au cours de la transaction.</li>
                       <li style="list-style-type: lower-alpha;">
                           A toute demande de remboursement seront entièrement déduites les protections pertes de revenus et vie et invalidités.
                       </li>
                       <li style="list-style-type: lower-alpha;">
                           A toute demande de remboursement sera entièrement déduite une pénalité de 45% par rapport au montant total à rembourser.
                       </li>
                       <li style="list-style-type: lower-alpha;">
                           A toute demande de remboursement acceptée sera entièrement déduite la conservation de la caution jusqu’à avoir trouvé un nouveau locataire
                            pour l'article.
                       </li>
                       <li style="list-style-type: lower-alpha;">
                           Finalement, les remboursements des loyers payés seront intégralement entamés, selon les mêmes modalités que le client a signées sur son contrat.

                       </li>
                       <li style="list-style-type: lower-alpha;">Ex : s’il a signé un contrat dans lequel son loyer mensuel est de dix milles francs CFA (10.000 FCFA) par mois, il lui sera remboursé dix milles
                            francs CFA (10.000 F CFA) par mois jusqu’à expiration du montant à rembourser.
                       </li>
                       <li style="list-style-type: lower-alpha;">
                           Même s’il a payé avec anticipation, le montant à rembourser lui sera toujours restitué selon les mêmes modalités qu’il a signées sur son contrat.
                       </li>
                   </ul>
               </ol>
            </div>
    </div>

    <div>
        <h2>12) ÉTAT DES  LIEUX	</h2>
        <p>
           Vu que l’acquisition se fait en l'état futur d'achèvement (V.E.FA), un état des lieux ne sera nécessaire que lors de la prise en jouissance des lieux prêts.
        </p>
    </div>

    <div>
        <h2>13) ÉLECTION DE DOMICILE  </h2>
        <p>
           Pour l'exécution des obligations visées au présent contrat, le bailleur fait élection de domicile à son bureau et le locataire à son domicile.
        </p>
    </div>

    <h2 align="center" style="font-size: 20px;">	CONDITIONS PARTICULIÈRES 	</h2>
    <div>
        <h2>Durée  </h2>
        <p>
          Le présent contrat est consenti pour une durée égale à				#REF!	mois                          (	#REF!	) commençant à
            courir le	#REF!	et se terminant le	#REF!	.
        </p>
    </div>

    <div>
        <h2>Détails des coûts et charges 	 </h2>
        <p>
          Le(s) bien(s) loué(s) est (sont) payable(s) mensuellement et d'avance aux bureaux du bailleur ou à l'institution indiquée par ce dernier. Le montant brut du
            (des) bien (s) loué(s) est fixé à la somme de (en toutes lettres):
        </p>
    </div>

    <div>
          <table width="100%">

              <tbody>
                  <tr>
                      <td align="right" colspan="2" class="bordered">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">millions</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">mille</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">cent</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" colspan="2" style="margin-left: 10px;">Francs CFA,</td>
                  </tr>
                  <tr>
                      <td align="center" style="font-size: 15px; font-weight: bold;" colspan="2" class="bordered">#REF!</td>
                      <td class="bordered" colspan="10"><strong style="font-size: 15px; font-weight: bold;">F CFA,</strong> plus les assurances ou protections et les autres frais y afférant (en toutes lettres) soit:</td>
                      <td align="left" class="bordered" colspan="2"></td>
                  </tr>
                  <tr>
                      <td align="right" colspan="2" class="bordered">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">millions</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">cent</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">mille</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" colspan="2" style="margin-left: 10px;">Francs CFA,</td>
                  </tr>
                  <tr>
                      <td align="center" style="font-size: 15px; font-weight: bold;" colspan="2" class="bordered">#REF!</td>
                      <td class="bordered" colspan="7"><strong style="font-size: 15px; font-weight: bold;">F CFA</strong> se décomposant comme suit:		</td>
                      <td align="left" class="bordered" colspan="2"></td>
                  </tr>
              </tbody>
          </table>
    </div>

    <div>
          <table width="100%" style="font-size: 13px;">

              <tbody>
                <tr>

                  </tr>
                  <tr>
                      <td colspan="10" class="bordered">- Frais d’ouverture de dossier …….…………………………….soit……………</td>
                      <td align="center" colspan="2" class="bordered" style="font-weight: bold;">#REF!</td>
                      <td class="bordered" colspan="4">F CFA……………………….</td>
                  </tr>
                <tr>

                  </tr>
                 <tr>
                      <td colspan="10" class="bordered">- Frais de montage de dossier…………,……………………….soit……………</td>
                      <td align="center" colspan="2" class="bordered" style="font-weight: bold;">#REF!</td>
                      <td class="bordered" colspan="4">F CFA……………………….</td>
                  </tr>
                <tr>

                  </tr>
                  <tr>
                      <td colspan="10" class="bordered">- Protection Vie / Invalidité……………………………………….soit……………</td>
                      <td align="center" colspan="2" class="bordered" style="font-weight: bold;">#REF!</td>
                      <td class="bordered" colspan="4">F CFA……………………….</td>
                  </tr>
                <tr>

                  </tr>
                  <tr>
                      <td colspan="10" class="bordered">- Protection perte d'emploi ou perte de revenus……………….soit……………</td>
                      <td align="center" colspan="2" class="bordered" style="font-weight: bold;">#REF!</td>
                      <td class="bordered" colspan="4">F CFA……………………….</td>
                  </tr>
                <tr>

                  </tr>
                  <tr>
                      <td colspan="10" class="bordered">- Taux d'interet sur le prêt 0%..………………………………….soit……………	</td>
                      <td align="center" colspan="2" class="bordered" style="font-weight: bold;">-</td>
                      <td class="bordered" colspan="4">F CFA……………………….</td>
                  </tr>
                <tr>

                  </tr>
                  <tr>
                      <td colspan="10" class="bordered">- Taux d'interet sur le prêt 0%..………………………………….soit……………	</td>
                      <td align="center" colspan="2" class="bordered" style="font-weight: bold;">-</td>
                      <td class="bordered" colspan="4">F CFA……………………….</td>
                  </tr>
                <tr>

                  </tr>
                  <tr>
                      <td colspan="10" class="bordered"></td>
                      <td align="center" colspan="4" class="bordered" style="font-weight: bold;">__________________________________________________	</td>
                  </tr>
                <tr>

                  </tr>
                  <tr>
                      <td colspan="8" class="bordered"></td>
                      <td align="center" colspan="2" class="bordered" style="font-weight: bold;">……………</td>
                      <td align="center" colspan="2" class="bordered" style="font-weight: bold;">#REF!</td>
                      <td class="bordered" colspan="4">F CFA……………………….</td>
                  </tr>
                <tr>

                  </tr>

                  <tr>
                      <td colspan="8" class="bordered"></td>
                      <td align="center" colspan="8" class="bordered" style="font-weight: bold;">================================================			</td>
                  </tr>

              </tbody>
          </table>
    </div>
    <br>

    <div>
        <h2>Soit un total, charges comprises, arrêté à la somme de: </h2>
          <table width="100%">

              <tbody>
                  <tr>
                      <td align="right" colspan="2" class="bordered">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">millions</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">cent</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">mille</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" colspan="2" style="margin-left: 10px;">Francs CFA,</td>
                  </tr>
                  <tr>

                  </tr>
                  <tr>
                      <td align="center" style="font-size: 15px; font-weight: bold;" colspan="2" class="bordered">#REF!</td>
                      <td class="bordered" colspan="10"><strong style="font-size: 15px; font-weight: bold;">F CFA</strong></td>
                  </tr>
                  <tr>

                  </tr>
                  <tr>
                        <td class="bordered" colspan="7">Avec un <strong style="font-size: 15px; font-weight: bold;">acompte</strong> de:</td>
                  </tr>
                  <tr>
                      <td align="right" colspan="2" class="bordered">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">millions</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">cent</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">mille</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" colspan="2" style="margin-left: 10px;">Francs CFA,</td>
                  </tr>
                  <tr>

                  </tr>
                  <tr>
                      <td align="center" style="font-size: 15px; font-weight: bold;" colspan="2" class="bordered">#REF!</td>
                      <td class="bordered" colspan="10"><strong style="font-size: 15px; font-weight: bold;">F CFA</strong></td>
                  </tr>
              </tbody>
          </table>
    </div>
    <br>
    <br>
    <br>

    <h2 align="center" style="font-size: 20px;">		MODALITES DE PAIEMENT	 	</h2>

    <div>
        <h2 style="font-size: 18px; font-weight: bold;">Le solde à payer devenant:   </h2>
          <table width="100%">

              <tbody>
                  <tr>
                      <td align="right" colspan="2" class="bordered">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">millions</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">cent</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">mille</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" colspan="2" style="margin-left: 10px;">Francs CFA,</td>
                  </tr>
                  <tr>

                  </tr>
                  <tr>
                      <td align="center" style="font-size: 15px; font-weight: bold;" colspan="2" class="bordered">#REF!</td>
                      <td class="bordered" colspan="10"><strong style="font-size: 15px; font-weight: bold;">F CFA</strong></td>
                  </tr>
                  <tr>

                  </tr>
                  <tr>
                        <td class="bordered" colspan="7" style="font-size: 15px; font-weight: bold;"><h2>Dus par mois et d'avance à raison de:</h2></td>
                  </tr>
                  <tr>

                  </tr>
                  <tr>
                      <td align="right" colspan="2" class="bordered">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">millions</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">cent</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" style="margin-left: 10px;">mille</td>
                      <td align="right" class="bordered" colspan="2">#REF!</td>
                      <td class="bordered" colspan="2" style="margin-left: 10px;">Francs CFA,</td>
                  </tr>
                  <tr>

                  </tr>
                  <tr>
                      <td align="center" style="font-size: 15px; font-weight: bold;" colspan="2" class="bordered">#REF!</td>
                      <td class="bordered"><strong style="font-size: 15px; font-weight: bold;">F CFA</strong></td>
                      <td align="left" class="bordered" colspan="2">à compter du</td>
                      <td align="center" class="bordered" style="margin-left: 10px;">#REF!</td>
                      <td align="left" class="bordered" colspan="2">et cela jusqu'au</td>
                      <td align="center" class="bordered" style="margin-left: 10px;">#REF!</td>
                  </tr>
              </tbody>
          </table>
    </div>

    <div>
        <h2>Dépôt de garantie	 </h2>
        <p>
           Le dépôt de garantie est fixé à la somme de 200.000 F CFA (deux cents mille francs CFA)
            <div style="margin-left: 100px;">
           <ul><!--&nbsp;-->
             <li style="list-style-type: none;">- Montant tenu en compte lors du solde de tous comptes à la fin de tous les paiements.</li>
             <li style="list-style-type: none;">&nbsp;&nbsp;OU</li>
             <li style="list-style-type: none;">- Montant conservé en cas d’annulation ou de résiliation de dossier jusqu’à avoir trouvé un nouveau locataire pour l'article. </li>
           </ul>
            </div>
        </p>
    </div>

    <div>
        <h2>Dépôt de garantie	 </h2>
        <p>
           Le bailleur exécutera les travaux ci-après décrits : <br>
            Viabilisation sommaire et finition d’un ou plusieurs lots de terrain(s) vierge(s)
        </p>
    </div>

    <p>Le locataire acceptera de commencer ses paiements sans avoir pris en jouissance le bien qu’il acquiert en l'état de futur achèvement.
        Le locataire acceptera de continuer ses paiements pendant que les travaux sont en cours.
        Malgré cela, le montant du loyer restera le même pendant toute cette période, en conformité avec le contrat.
    </p>

    <div>
        <h2>Clauses particulières  </h2>
        <p>
           Le locataire et le bailleur acceptent que ce contrat et toutes sommes encaissés dans le courant de la transaction sont irrévocables, ni remboursables mais transférables
            ( sauf en cas de clause diplomatique).
        </p>
    </div>
    <br>

    <p>
        Les parties reconnaissent avoir rédigé ce contrat en trois exemplaires.
    </p>

    <div>
          <table width="25%">

              <tbody>
                  <tr style="font-size: 18px;">
                      <td align="left" colspan="3" class="bordered">RAYES NULS </td>
                  </tr>
                  <tr>
                      <td style="font-size: 18px;" align="left" colspan="3" class="bordered">………0……..</td>
                      <td class="bordered">mots</td>
                  </tr>
                  <tr>
                      <td style="font-size: 18px;" align="left" colspan="3" class="bordered">………0……..</td>
                      <td class="bordered">lignes</td>
                  </tr>
              </tbody>
          </table>
    </div>
    <br>
    <br>

    <p>
        Fait à………………...………..……..…… le……………….…………………..…………… en trois originaux.<br>
        (Signatures précédées de la mention « lu et approuvé »)
    </p>
    <br>
    <br>

    <div>
          <table width="100%">

              <tbody>
                  <tr style="font-size: 18px;">
                      <td align="left" colspan="4" class="bordered">Le bailleur</td>
                      <td align="center" colspan="4" class="bordered">Le locataire</td>
                      <td align="right" colspan="4" class="bordered">Le co-signataire</td>
                  </tr>

              </tbody>
          </table>
    </div>

</body>
</html>