<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      table, td {
          border: 1px solid black;
      }

      table, th {
          border: 0px;
      }

      .bordered {
          border: 1px solid black;
      }

      table {
          width: 50%;
          border-collapse: collapse;
      }
  </style>
</head>
<body>
  <div class="container">
      <h3 style="text-align: center;">PROTECTION VIEW ET INVALIDITE TERRAIN</h3>
      <br>
      <br>
      <table style="width: 80%;">
          <thead>
              <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
              </tr>
          </thead>

          <tbody>
              <tr style="background-color: black;">
                  <td style="color: white; width: 30%;">36 BOULEVARD DU RPT</td>
                  <td></td>
                  <td style="color: white;">LOME 01   </td>
                  <td style="width: 20%; color: white;">LOME</td>
                  <td style="width: 10%; color: white;">Tel:</td>
                  <td style="color: white;">+228 93 29 55 55  </td>
              </tr>
          </tbody>
      </table>
      <div>
          <h2>INFORMATION CLIENT</h2>
          <table>
              <thead>
                  <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                     
                  </tr>
              </thead>
              <tbody>     
                  <tr>
                      <td style="font-weight: bold;">&nbsp; NOM</td>
                      <td colspan="6">&nbsp; CHARTREUX Stephane</td>
                     
                  </tr>
                  <tr>
                      <td style="font-weight: bold;">&nbsp;ADDRESSE</td>
                      <td colspan="6">8 Rule du Limon</td>
                  </tr>
                  <tr>
                      <td style="font-weight: bold;">&nbsp;CODE POSTAL</td>
                      <td>03500</td>
                      <td style="font-weight: bold;">&nbsp;VILLE</td>
                      <td>St Pourcain / Sioule</td>
                    
                  </tr>
                  <tr>
                      <td style="font-weight: bold;">&nbsp;TELEPHONE</td>
                      <td>654839898</td>
                      <td style="font-weight: bold;">&nbsp;PAYS</td>
                      <td>France</td>
                 
                  </tr>
              </tbody>
          </table>
      </div>
      <br>

      <div>
          <h2>INFORMATION CO-SIGNATAIRE</h2>
          <table>
              <thead>
                  <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                     
                  </tr>
              </thead>
              <tbody>     
                  <tr>
                      <td style="font-weight: bold;">&nbsp; NOM</td>
                      <td colspan="6">&nbsp; CHARTREUX Stephane</td>
                     
                  </tr>
                  <tr>
                      <td style="font-weight: bold;">&nbsp;ADDRESSE</td>
                      <td colspan="6">8 Rule du Limon</td>
                  </tr>
                  <tr>
                      <td style="font-weight: bold;">&nbsp;CODE POSTAL</td>
                      <td>03500</td>
                      <td style="font-weight: bold;">&nbsp;VILLE</td>
                      <td>St Pourcain / Sioule</td>
                    
                  </tr>
                  <tr>
                      <td style="font-weight: bold;">&nbsp;TELEPHONE</td>
                      <td>654839898</td>
                      <td style="font-weight: bold;">&nbsp;PAYS</td>
                      <td>France</td>
                 
                  </tr>
              </tbody>
          </table>
      </div>


      <div>
          <h2>INFORMATION ARTICLE PROTEGE</h2>
          <table>
              <thead>
                  <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                                          
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td style="font-weight: bold;" class="bordered">ARTICLE</td>
                      <td style="font-weight: bold;" class="bordered">TERRAIN NU</td>
                      <td style="font-weight: bold;" class="bordered">SITE</th>
                      <td style="font-weight: bold;" class="bordered" colspan="2">NOEPE</td>
                      
                  </tr>
                  <tr>
                      <td style="font-weight: bold;">&nbsp; DIMENSION</td>
                      <td style="font-weight: bold;">&nbsp; 250 M2</td>
                      <td style="font-weight: bold;">POSITION</td>
                     <td style="font-weight: bold;">0</td>
                  </tr>
                  <tr>
                      <td style="font-weight: bold;">&nbsp;TYPE DOCS</td>
                      <td style="font-weight: bold;">TROIS TAMPONS</td>
                  </tr>
                  <tr>
                      <td style="font-weight: bold;">&nbsp;N0 DE STOCK</td>
                      <td style="font-weight: bold;">&nbsp;NPE10021</td>
                  </tr>
              </tbody>
          </table>
      </div>

      <div>
          <h2>INFORMATION PROTECTEUR</h2>
          <table>
              <thead>
                  <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>     
                  <tr>
                      <td style="font-weight: bold;">&nbsp; NOM</td>
                      <td colspan="6">&nbsp; IRIS IMMOBILIER SA</td>
                     
                  </tr>
                  <tr>
                      <td style="font-weight: bold;">&nbsp;ADDRESSE</td>
                      <td colspan="6">36 BOULEVARD DU RPT</td>
                  
                      
                  </tr>
                  <tr>
                      <td style="font-weight: bold;">&nbsp;CODE POSTAL</td>
                      <td>0</td>
                      <td style="font-weight: bold;">&nbsp;VILLE</td>
                      <td>LOME</td>
                    
                  </tr>
                  <tr>
                      <td style="font-weight: bold;">&nbsp;TELEPHONE</td>
                      <td>+228 93 45 32 55</td>
                      <td style="font-weight: bold;">&nbsp;PAYS</td>
                      <td>Rep du Togo</td>
                 
                  </tr>
               
              </tbody>
          </table>
      </div>
<br>
      <div>
          <table>
              <thead>
                  <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td style="border: none;" colspan="2">&nbsp;COUT DE LA PROTECTION VIE ET INVALIDITE</td>
                      <td class="border">600,000</td>
                      <td style="border-bottom: 0; border-right: none; border-top: none;">FCFA</td>
                      <td style="font-weight: bold; border-left: none; border-bottom: none; border-top: none;">&nbsp;DATE DU PRET</td>
                      <td>09/08/18</td>
                      
                  </tr>

                  
              </tbody>
          </table>
      </div>
      <br>
      <div>
          <table>
              <thead>
                  <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td style="border: none;" colspan="2">&nbsp;MONTANT DU FINANCEMENT </td>
                      <td class="border">4,800,000</td>
                      <td style="border-bottom: 0; border-right: none; border-top: none;">FCFA</td>
                      <td style="font-weight: bold; border-left: none; border-bottom: none; border-top: none;">&nbsp;DUREE DE LA PROTECTION EN MOIS</td>
                      <td>240</td>
                      
                  </tr>

                  
              </tbody>
          </table>
      </div>
      <br>
      <p style="width: 80%; font-size: 13px;">JE SOUSSIGNE		CHARTREUX Stephane		RECONNAIS QUE LES INFORMATIONS DONNEES CI-DESSUS M’APPARTIENNENT ET SONT 						
          VRAIES. J’AI LU TOUTES LES INFORMATIONS CONTENUES DANS CETTE COUVERTURE ET SUIS D’ACCORD AVEC TOUT LE CONTENU.  JE RECONNAIS QUE 										
          L’ACHAT D’UNE PROTECTION PERTE DE REVENUS EST MANDATOIRE POUR L’OBTENTION D’UNE LOCATION CHEZ								IRIS IMMOBILIER SA		
          ET CELA POUR TOUTE SA  DUREE . JE RECONNAIS AUSSI ETRE LIBRE D’OBTENIR UNE COUVERTURE AILLEURS QUE CHEZ									IRIS IMMOBILIER SA	
          DANS UN DELAI DE SEPT JOURS OUVRABLES. 										
          </p>
      <br>

      <div>
          <table style="width: 80%;">
              <thead>
                  <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    
                      <td class="border">09/082021</td>
                      <td style="border-bottom: 0; border-right: none; border-top: none; font-size: 20px; font-weight: bold;" colspan="3">&nbsp;&nbsp;&nbsp; X___________________________</td>
                      <td style="font-weight: bold; border-left: none; border-bottom: none; border-top: none; border-right: none;  font-size: 20px; font-weight: bold;">&nbsp;X___________________________</td>
                      
                      
                  </tr>
                  <tr>
                    
                      <td style="border: none">DATE</td>
                      <td style="border-bottom: 0; border-right: none; border-left: none; border-top: none; font-size: 10px; font-weight: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SIGNATURE CLIENT</td>
                      <td style="border: none; width: 50%;"></td>
                      <td colspan="3" style="font-weight: bold; border-left: none; border-right: none; border-bottom: none; border-top: none; font-size: 10px; font-weight: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SIGNATURE CO-SIGNATAIRE</td>
  
                      
                  </tr>
                  
              </tbody>
          </table>
      </div>

      <br>
      <br>
      <h3 style="width: 80%; text-align: center;">PROTECTION</h3>
      <p style="width: 80%; font-size: 16px;">La personne  ci-nommée est responsable envers				IRIS IMMOBILIER SA		par rapport aux termes et clauses énumérés dans le contrat de location 						
          et dans ce présent contrat de protection. Grace a cette protection signée, lorsque les conditions seront réunies après la perte d'emploi ou de revenus, le client n’aura plus l’obligation  												
          de s’acquitter jusqu’à trois mois de paiements et ne devra que payer un déductible de 10% du montant du par mois pendant cette période, le reliquat étant totalement pris en												
           charge par 	IRIS IMMOBILIER SA			.								
          </p>

          <br>
          <h3 style="width: 80%; text-align: center;">      REFUS DE LA PROTECTION PERTE DE REVENUS </h3>
          <p style="width: 80%; font-size: 13px;">JE NE CHOISIS PAS D’ACHETER LA PROTECTION PERTE DE REVENUS. JE COMPRENDS PAR AILLEURS QU’EN N’ACCEPTANT PAS CETTE PROTECTION, JE  										
              N’AURAI DROIT A AUCUNE COUVERTURE OU ASSISTANCE QUELLE QU’ELLE SOIT EN CAS DE PERTE D'EMPLOI OU DE REVENUS. 										
                  .								
              </p>

              <div>
                  <table style="width: 80%;">
                      <thead>
                          <tr>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                            
                              <td class="border">09/082021</td>
                              <td style="border-bottom: 0; border-right: none; border-top: none; font-size: 20px; font-weight: bold;" colspan="3">&nbsp;&nbsp;&nbsp; ___________________________</td>
                              <td style="font-weight: bold; border-left: none; border-bottom: none; border-top: none; border-right: none;  font-size: 20px; font-weight: bold;">&nbsp;___________________________</td>
                              
                              
                          </tr>
                          <tr>
                            
                              <td style="border: none">DATE</td>
                              <td style="border-bottom: 0; border-right: none; border-left: none; border-top: none; font-size: 10px; font-weight: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SIGNATURE CLIENT</td>
                              <td style="border: none; width: 50%;"></td>
                              <td colspan="3" style="font-weight: bold; border-left: none; border-right: none; border-bottom: none; border-top: none; font-size: 10px; font-weight: normal;">&nbsp;&nbsp;&nbsp; SIGNATURE CO-SIGNATAIRE</td>
          
                              
                          </tr>
                          
                      </tbody>
                  </table>
              </div>

              <h3 style="width: 80%;"> DEFINITIONS: </h3>
              <p style="width: 80%; font-size: 13px;">I/ Se prémunir contre la perte de revenus										
                  IRIS IMMOBILIER SA			propose à ses clients de protéger leur investissement et de se prémunir contre les conséquences fâcheuses  							
                  que pourrait entraîner la perte involontaire de revenus par suite de faillite, la perte involontaire d’emploi par suite de licenciement ou de  										
                  ou de disparition de l’activité. En effet, les possibilités d’obtention d’un crédit à la consommation et ou d’un  logement sont obérées par les 										
                  difficultés d’accès à l’emploi et aux activités génératrices de profit. Client signifiera acquéreur, article signifiera la raison de la prise de cette 										
                  protection, date de perte de revenus signifiera la date qui sera reportée sur lesdocuments officiels déclarant cette perte de revenus. Déductible 										
                  signifiera le montant mensuel forfaitaire à payer, pour que 					IRIS IMMOBILIER SA		déclenche les restants des paiements mensuels sur 			
                  la période de trois mois bien entendu. Ce déductible est un déductible de 10% du montant dû par mois pendant trois mois. Perte de revenus signifiera 										
                  perte de tout revenu financier lié à une activité professionnelle exercée pendant un minimum d’un an avec justificatifs officiels a l’appui, 										
                  période de trois mois signifiera la durée pendant laquelle le client sera pris en charge s’il perdait son emploi ou ses revenus et était complètement 										
                  éligible, montants à payer signifiera alors le montant mensuel des paiements ou la valeur de la protection.										                                                             .								
              </p>

              <h3 style="width: 80%;"> TERMES ET CONDITIONS: </h3>
              <p style="width: 80%; font-size: 13px;">II/ Condition d’accès										
                  Il faut d’abord que le client ait régulièrement et scrupuleusement respecté ses loyers durant la période où il avait ses revenus. Si après un minimum 										
                  de 6 mois de paiements de loyers ce dernier venait à perdre ses revenus, il n’aurait plus l’obligation de s’acquitter des trois mois de loyers suivants car 										
                  il ne paiera qu’un déductible de 10% du montant du par mois pendant cette période, le reliquat étant pris en charge par 										
                  IRIS IMMOBILIER SA			. Cette protection ne peut couvrir qu’une seule perte de revenus.							                                                                                                                 .								
              </p>

              <br>
              <br>
              <h3 style="width: 80%;"> III/ Conditions de mise en œuvre </h3>
              <ul>
                  <li style="list-style-type: lower-alpha;">Avoir payé régulièrement et scrupuleusement ses loyers au minimum six mois (6) avant la perte de revenus </li>
                  <li style="list-style-type: lower-alpha;">S’acquitter d’avance et comptant d’un paiement supplémentaire pour la protection						                    </li>
                  <li style="list-style-type: lower-alpha;">Perdre involontairement son emploi ou ses revenus    </li>
                  <li style="list-style-type: lower-alpha;">Avoir été en activité ou en CDI pour un minimum d’un an avant la date de la signature de ce contrat et en avoir des preuves officielles  </li>
                  <li style="list-style-type: lower-alpha;">Ne pas être en procédure de licenciement ou de rupture de contrat au moment de la souscription   </li>
                  <li style="list-style-type: lower-alpha;">Ne pas avoir perdu son emploi ou ses revenus au moment de la souscription ou dans les 3 mois ayant suivi le début du contrat      </li>
                  <li style="list-style-type: lower-alpha;">S’être régulièrement acquitté de ses  loyers  durant toute la période d’activité.	</li>
              </ul>   
              <br>
              <br>
              <h3 style="font-size: 13px; font-weight: normal;">CAS DE RECLAMMATION </h3>
              <h3 style="font-size: 13px; font-weight: normal; color: black;">DANS LE CAS D’UNE RECLAMMATION, les ayant droit doivent déposer, dans les (10) dix jours suivants la date de l’événement, à</h3>

              <table style="width: 80%;">
                  <thead>
                      <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr style="background-color: black;">
                          <td style="color: white; width: 30%;">36 BOULEVARD DU RPT</td>
                          <td></td>
                          <td style="color: white;">LOME 01   </td>
                          <td style="width: 20%; color: white;">LOME</td>
                          <td style="width: 10%; color: white;">Tel:</td>
                          <td style="color: white;">+228 93 29 55 55  </td>
                      </tr>
                  </tbody>
              </table>
              <br>

              <p style="width: 80%; font-size: 16px;">les documents suivants avant qu’aucun paiement ne puisse être honoré.  Tout défaut de pourvoir ces documents dans les (20) vingt jours suivants la 										
                  date de l’événement résultera en l’annulation pure et simple de tout éventuel remboursement et de la protection en l’occurrence.										
              </p>

              <ol>
                  <li>Copie originale du registre de commerce ou photocopie légalisée / Copie originale de l’entreprise signifiant le licenciement ou photocopie légalisée.										
                  </li>
                  <li>Copie originale de l'identification aux impôts ou photocopie légalisée/ Copie originale du certificat de travail délivré par l’employeur au licenciement										
                  </li>
                  <li> Preuve de détention d’au moins un contrat justifiant les revenus précédants/ Preuve de détention d’un contrat CDI au moment de la souscription.										
                  </li>
                  <li> Copie originale du contrat de location ou la photocopie légalisée.				
                  </li>
                  <li>Copie originale de la protection perte de revenus ou la photocopie légalisée.					
                  </li>
                  <li>Copie originale de la facture ou la photocopie légalisée.				
                  </li>
                  <li>Copie du reçu du dernier loyer payé avant la perte de revenus.				
                  </li>
                  <li>Copie originale de la facture de paiement de la protection, si elle n’est pas intégrée dans la facture globale, ou la photocopie légalisée.									
                  </li>
                  <li>Trois  (3) derniers relevés bancaires originaux  envoyés par courrier avant la perte de revenus.						
                  </li>
                  <li>    Trois (3) dernières fiches de salaire avant la perte d’emploi ou les photocopies légalisées.						
                  </li>
                  <li>Documentation originale des impôts et domaines prouvant  les impôts payés l’année précédente et la base d’imposition. 								
                  </li>
              </ol>

              <br>
              <p style="width: 80%; font-size: 16px;">
                  Documentation légalisée de l’inspection du travail prouvant la date de la perte d’emploi.										
                  VEUILLEZ VOUS ASSURER QUE TOUS LES DOCUMENTS SOIENT TRES LISIBLES, sinon tout paiement sera suspendu jusqu’à 										                    
              </p>

              <p style="width: 80%; font-size: 16px;">
                  l’obtention de documents lisibles. Le délai maximal pour ces genres de cas sera de 10 jours à partir de la date de réclamation.																		                    
              </p>

  </div>
  
  
</body>
</html>