<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">


</head>
    
<body>
    <div id="container" style="display: flex; justify-content: center; height: 40vh;width: 60vw;">
        <div>
            <h1> RECIPISSE DE MONTAGE ET D'OUVERTURE DE DOSSIER </h1>
        </div>

        <div>
            This will be the main page content
        </div>
            <button class="btn btn-primary">Test</button>
    </div>
</body>
</html>