<html>
<head>
<style>

    #container{
        background-color: yellow;
        text-align: center;
        font-size: large;
        padding: 50in;
        border: 30em solid red;
        
    }
</style>
</head>
    
<body>
    <div id="container" style="display: flex; justify-content: center; height: 40vh;width: 60vw;">
        <div>
            <h1> RECIPISSE DE MONTAGE ET D'OUVERTURE DE DOSSIER </h1>
        </div>

        <div>
            This will be the main page content
        </div>
            
    </div>
</body>
</html>