{% extends 'caisse/layouts/base.html' %} {% load static %} {% block content %}
<div class="margin-bottom-30">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li class="active">
          <a href="#">En attente d'ouverture <span class="badge">42</span></a>
        </li>
        <li class="active">
          <a href="#">Ouvert <span class="badge">126</span></a>
        </li>
        <li class="active">
          <a href="#">Abandonné <span class="badge">14</span></a>
        </li>
        <li>
          <form class="navbar-form">
            <input
              type="text"
              class="form-control"
              id="templatemo_search_box"
              placeholder="..."
            />
            <span onclick="find_caisse()" class="btn btn-default">Rechercher</span>
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="templatemo-alerts">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span
              ><span class="sr-only">Fermer</span>
            </button>
            <strong>Succès !</strong> Votre dossier a bien été ouvert.
          </div>
          <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span
              ><span class="sr-only">Close</span>
            </button>
            Vous avez 5 dossiers en attente d'ouverture aujourd'hui.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="templatemo-alerts">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span
              ><span class="sr-only">Fermer</span>
            </button>
            Vous avez reçu un message du Transac.
          </div>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span
              ><span class="sr-only">Close</span>
            </button>
            Vous ne pouvez pas consulter ce dossier, il a été bloqué.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group pull-right" id="templatemo_sort_btn">
      <!-- <button type="button" class="btn btn-default">Trier par</button>
      <button
        type="button"
        class="btn btn-default dropdown-toggle"
        data-toggle="dropdown"
      >
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">N° client</a></li>
        <li><a href="#">Téléphone</a></li>
        <li><a href="#">Nom</a></li>
        <li><a href="#">Prénom</a></li>
        <li><a href="#">N°dossier</a></li>
        <li><a href="#">Statut</a></li>
        <li><a href="#">Dernier Paiement</a></li>
        <li><a href="#">Coeff recouvr</a></li>
        <li><a href="#">Appelé & récouvré</a></li>
      </ul> -->
      <select onchange="sort_caisse(this.value)" style="border: 1px solid #ddd; padding-top: .5rem; padding-bottom: .5rem; padding-left: 1rem; font-size: 1.25rem;" class="form-select">
        <option disabled selected value="">Sort By</option>
        <option value="">All</option>
        <option value="uid">N° client</option>
        <option value="phone_1">Téléphone</option>
        <option value="nom">Nom</option>
        <option value="prenom">Prénom</option>
        <option value="statut">Statut</option>
        <option value="dernier_appel">Dernier Paiement</option>
        <option value="coeff_recouv">Coeff recouvr</option>
        <option value="appele_recouvre">Appelé & récouvré</option>
      </select>
    </div>
    <div class="table-responsive">
      <table id="caisseTable" class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>N° client</th>
            <th>Téléphone</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>N°dossier</th>
            <th>Statut</th>
            <th>Dernier Paiement</th>
            <th>Coeff recouvr</th>
            <th>Appelé & récouvré</th>
            <th>Dernier appel</th>
            <!-- <th>hr</th> -->
            <!-- <th>Modifier</th> -->
            <th>Ouvrir</th>
            <th>Consulter</th>
          </tr>
        </thead>
        <tbody>
          {% for dossier in all_dossier %}
          <tr>
            <td>{{ dossier.client.uid }}</td>
            <td>{{ dossier.client.phone_1 }}</td>
            <td>{{ dossier.client.nom }}</td>
            <td>{{ dossier.client.prenom }}</td>
            <td>{{ dossier.uid }}</td>
            <td>{{ dossier.statut }}</td>
            <td>15/03/2014</td>
            <td>{{ dossier.coeff_recouv }}</td>
            <td>{{ dossier.appele_recouvre }}</td>
            <td>{{ dossier.dernier_appel }}</td>
            <!-- <td>12:35</td> -->
            <!-- <td><a href="#" class="btn btn-default">Modifier</a></td> -->
            <td>
              <!-- Split button -->
              <div class="classbtn-group">
              <button
                type="button"
                class="btn btn-info"
                data-toggle="modal"
                data-target="#confirmOpen"
              >
                Ouvrir
              </button>
            </td>
            <td><a href="#" class="btn btn-link">Consulter</a></td>
          </tr>
          {% endfor  %}
        </tbody>
      </table>
    </div>
  </div>
  <ul class="pagination pull-right">
    <li class="disabled" onclick="prev()" id="prev"><a >&laquo;</a></li>
    {% for i in page_list %}
    <li class="{% if i == page %}active {% endif %}">
      <a class="btn" onclick="paginate_table('{{ i }}')">{{ i }} <span class="sr-only">(current)</span></a>
    </li>
    {% endfor %}
    <li id="next" onclick="next()"><a >&raquo;</a></li>
  </ul>
</div>
{% endblock %} {% block modal %}
<div
  class="modal fade"
  id="confirmOpen"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span
          ><span class="sr-only">Fermer</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Voulez vous vraiment ouvrir ce dossier
        </h4>
      </div>
      <div class="modal-footer">
        <a href="../logout" class="btn btn-primary">Oui</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Non
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="confirmModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span
          ><span class="sr-only">Fermer</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Voulez vous vraiment vous déconnecter ?
        </h4>
      </div>
      <div class="modal-footer">
        <a href="../logout" class="btn btn-primary">Oui</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Non
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script type="text/javascript">
  // Line chart
  var randomScalingFactor = function () {
    return Math.round(Math.random() * 100);
  };
  var lineChartData = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
      {
        label: "My First dataset",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
        ],
      },
      {
        label: "My Second dataset",
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        data: [
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
        ],
      },
    ],
  };

  window.onload = function () {
    var ctx_line = document
      .getElementById("templatemo-line-chart")
      .getContext("2d");
    window.myLine = new Chart(ctx_line).Line(lineChartData, {
      responsive: true,
    });
  };

  $("#myTab a").click(function (e) {
    e.preventDefault();
    $(this).tab("show");
  });

  $("#loading-example-btn").click(function () {
    var btn = $(this);
    btn.button("loading");
    // $.ajax(...).always(function () {
    //   btn.button('reset');
    // });
  });
</script>


<script>

  // PAGINATOR CODE BELLOW
  
  function paginate_table(page,$event) {
      document.getElementById('templatemo_search_box').value = '';
    if(page > 1) {
      document.getElementById('prev').classList = '';
    }
  
    if(page == 1) {
      document.getElementById('prev').classList = 'disabled'
    }
  
  
  
    //  Write Logic to change current active button
    
      all_childrens = event.target.parentElement.parentElement.children
      for(let i = 0; i < all_childrens.length; i++){
          if(all_childrens[i].classList.contains('active')){
            all_childrens[i].classList = '';
          }
      }
     
      event.target.parentElement.classList = 'active'
  
      // Total Pages Calculation Bellow
      let total = all_childrens.length - 2;
  
      if(page == total) {
        document.getElementById('next').classList = 'disabled'
      }
  
      if(page < total) {
        document.getElementById('next').classList = ''
      }
  
      let param = `page=${page}`
      send_paginate_request(param)
  }
  
  function next($event) {
    let all_childrens = event.target.parentElement.parentElement.children
    let setactive = 0;
    prevactive = 0;
  
    for(let i = 0; i < all_childrens.length; i++){
          if(all_childrens[i].classList.contains('active')){
            prevactive = i;
            all_childrens[i].classList = '';
            setactive = i+1;
          }
      }
  
      
    let total = all_childrens.length - 2;
    
    if(setactive > total) {
      console.log('SET ACTIVE IS GREATER THAN TOTAL')
      all_childrens[prevactive].classList = 'active';
  
    }else {
  
      if(setactive > 1) {
        document.getElementById('prev').classList = '';
      }
  
  
      if(setactive == total) {
        document.getElementById('next').classList = 'disabled'
      }
  
  
      all_childrens[setactive].classList = 'active';
      let param = `page=${setactive}`
      send_paginate_request(param)
    }
  
  }
  
  
  function prev($event) {
    let all_childrens = event.target.parentElement.parentElement.children
    let setactive = 0;
    let prevactive = 0;
  
    for(let i = 0; i < all_childrens.length; i++){
          if(all_childrens[i].classList.contains('active')){
            prevactive = i;
            all_childrens[i].classList = '';
            setactive = i-1;
          }
      }
  
      
    let total = all_childrens.length - 2;
    
    if(setactive < 1) {
      console.log('SET ACTIVE IS LESSER THAN ONE')
      all_childrens[prevactive].classList = 'active';
  
    }else {
  
      if(setactive < total) {
        document.getElementById('next').classList = '';
      }
  
      if(setactive == 1) {
        document.getElementById('prev').classList = 'disabled'
      }
  
  
      all_childrens[setactive].classList = 'active';
      let param = `page=${setactive}`
      send_paginate_request(param)
    }
  
  }
  
  
  function send_paginate_request(param) {
      $.ajax({
          method: 'GET',
          url: 'caisse/api/paginate_caisse?' + param,
          beforeSend: function() {
              console.log('Before Send')
          },
  
          success: function(result) {
            console.log('after send')
              update_table_paginate(result);
              
          },
  
          error: function() {
              console.log('error')
          }
      })
  }
  
  function update_table_paginate(data) {
      let row;
      let all_rows = '';
      // console.log('UPDATE TABLE PAGINATE')
      // console.log(data[0].client)
      Object.keys(data).forEach((key,index) => {
     
          elem = data[key];
          row = ''
          row = `<tr><td> ${elem.client.uid} </td> <td>${elem.client.phone_1}</td> <td>${elem.client.nom}</td> <td>${elem.client.prenom}</td> <td>${elem['uid']}</td> <td>${elem['statut']}</td> <td> 15/03/2014 </td> <td>${elem['coeff_recouv']}</td> <td>${elem['appele_recouvre']}</td> <td>${elem['dernier_appel']}</td> <td> <div class="classbtn-group"> <button type="button" class="btn btn-info" data-toggle="modal" data-target="#confirmOpen" > Ouvrir </button> </td>  <td><a href="#" class="btn btn-link">Consulter</a></td></tr>`
          all_rows = all_rows + row;
      });
  
      $("#caisseTable tbody").html(all_rows)
  }
  
  // END OF PAGINATOR
  
  
  function sort_caisse(sort_type) {
      document.getElementById('templatemo_search_box').value = '';
      let param = `${sort_type}=${sort_type}`
      send_request(param);
  }
  
  function find_caisse() {
      let search_query = document.getElementById('templatemo_search_box').value;
      let param = `search_table=${search_query}`
      send_request(param);
  }
  

  function send_request(param) {
      $.ajax({
          method: 'GET',
          url: 'caisse/api/get_caisse?' + param,
          beforeSend: function() {
              console.log('Before Send')
          },
  
          success: function(result) {
              update_table(result);
              console.log('after send')
          },
  
          error: function() {
              console.log('error')
          }
      })
  }
  
  function update_table(data) {
      console.log('Table Update')
      let row;
      let all_rows = '';
    
      Object.keys(data).forEach((key,index) => {
          elem = data[key];
          console.log('data bellow')
          console.log(data[index])
          app = data[index];
          row = `<tr><td> ${elem.client.uid} </td> <td>${elem.client.phone_1}</td> <td>${elem.client.nom}</td> <td>${elem.client.prenom}</td> <td>${elem['uid']}</td> <td>${elem['statut']}</td> <td> 15/03/2014 </td> <td>${elem['coeff_recouv']}</td> <td>${elem['appele_recouvre']}</td> <td>${elem['dernier_appel']}</td> <td> <div class="classbtn-group"> <button type="button" class="btn btn-info" data-toggle="modal" data-target="#confirmOpen" > Ouvrir </button> </td>  <td><a href="#" class="btn btn-link">Consulter</a></td></tr>`
          all_rows = all_rows + row;
      });
      $("#caisseTable tbody").html(all_rows)
  }
  
  </script>
{% endblock %}
