{% extends 'accueuil/layouts/base.html' %}
{% load static %}


{% block content %}
<div class="row">

    <div class="col-md-12">
      
      <div class="panel-group" id="accordion">

        <!-- <form class="" role="form" id="templatemo-preferences-form"> -->
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <span class="badge">1</span>&nbsp; Préqualifier
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6 margin-bottom-15">
                    <label for="firstName" class="control-label">Numéro client</label>
                    <input type="text" class="form-control" id="firstName" placeholder="ex: 959766784" required>                  
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 margin-bottom-15">
                    <label for="dateNaiss" class="control-label">Date d'appel</label>
                    <input type="date" class="form-control" id="dateNaiss" required>                  
                  </div>
                  <div class="col-md-6 margin-bottom-15">
                    <label for="lieuNaiss" class="control-label">Heure d'appel</label>
                    <input type="text" class="form-control" id="lieuNaiss" required>                 
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 margin-bottom-15">
                    <label for="email" class="control-label">Nom</label>
                    <input type="text" class="form-control" id="email" placeholder="DOSSO" required>                 
                  </div> 
                  <div class="col-md-6 margin-bottom-15">
                    <label for="phoneA" class="control-label">Prénom</label>
                    <input type="text" class="form-control" id="phoneA" placeholder="Hubert" required>                  
                  </div>                                               
                </div>
                <div class="row">
                  <div class="col-md-6 margin-bottom-15">
                    <label for="phoneA" class="control-label">Téléphone</label>
                    <input type="text" class="form-control" id="phoneA" placeholder="986876869" required>                  
                  </div>
                  <div class="col-md-6 margin-bottom-15">
                    <label for="articleI" class="control-label">Article d'intérêt</label>                            
                    <select class="form-control margin-bottom-15" id="articleI">
                      <option>Maison 1</option>
                      <option>Maison 2</option>
                      <option>Terrain 1</option>
                      <option>Terrain 2</option>
                      <option>Logement 1</option>
                      <option>Logement 2</option>
                    </select>              
                  </div>
                </div>                        
                <div class="row">                          
                  <div class="col-md-6 margin-bottom-15">
                    <label for="connuA" class="control-label">Comment nous a t-il connu ?</label>
                    <select class="form-control margin-bottom-15" id="connuA">
                      <option>Presse</option>
                      <option>Télé</option>
                      <option>Radio</option>
                      <option>Connaissance</option>
                      <option>Autre</option>
                    </select>                 
                  </div>                          
                </div>
                <div class="row" style="background:#D1E5FE; padding-top:15px;">
                  <div class="col-md-6 margin-bottom-15">
                    <label for="dateNaiss" class="control-label">Date de rendez-vous</label>
                    <input type="date" class="form-control" id="dateNaiss" required>                  
                  </div>
                  <div class="col-md-6 margin-bottom-15">
                    <label for="lieuNaiss" class="control-label">Heure de rendez-vous</label>
                    <input type="text" class="form-control" id="lieuNaiss" required>                 
                  </div>
                </div>
                <br>
                <div class="row">                                                    
                  <div class="col-md-6 margin-bottom-15">
                    <button type="button" id="loading-example-btn3" data-loading-text="impression en cours" class="btn btn-primary">
                      Valider
                    </button>
                  </div>
                </div>                        

              </div>
            </div>
          </div>
                  
        </div> 

      </div>
    
    </div>
  
  </div> 
{% endblock %}


{% block modal %}
          <!-- Modal -->
          <div class="modal fade" id="confirmOpen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                  <h4 class="modal-title" id="myModalLabel">Voulez vous vraiment ouvrir ce dossier</h4>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn btn-primary">Oui</a>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                  <h4 class="modal-title" id="myModalLabel">Voulez vous vraiment vous déconnecter ?</h4>
                </div>
                <div class="modal-footer">
                  <a href="sign-in.html" class="btn btn-primary">Oui</a>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                </div>
              </div>
            </div>
          </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    // Line chart
    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
    var lineChartData = {
      labels : ["January","February","March","April","May","June","July"],
      datasets : [
      {
        label: "My First dataset",
        fillColor : "rgba(220,220,220,0.2)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#fff",
        pointHighlightFill : "#fff",
        pointHighlightStroke : "rgba(220,220,220,1)",
        data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
      },
      {
        label: "My Second dataset",
        fillColor : "rgba(151,187,205,0.2)",
        strokeColor : "rgba(151,187,205,1)",
        pointColor : "rgba(151,187,205,1)",
        pointStrokeColor : "#fff",
        pointHighlightFill : "#fff",
        pointHighlightStroke : "rgba(151,187,205,1)",
        data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
      }
      ]

    }

    window.onload = function(){
      var ctx_line = document.getElementById("templatemo-line-chart").getContext("2d");
      window.myLine = new Chart(ctx_line).Line(lineChartData, {
        responsive: true
      });
    };

    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });

    $('#loading-example-btn').click(function () {
      var btn = $(this);
      btn.button('loading');
      // $.ajax(...).always(function () {
      //   btn.button('reset');
      // });
  });
  </script>
{% endblock %}