{% extends 'accueuil/layouts/base.html' %} {% load static %} 

{% block styles %} 
    <style>
      #prev:hover {
        cursor: pointer;
      }

      #next:hover {
        cursor: pointer;
      }

    </style>
{% endblock %}
{% block content %}
<div class="margin-bottom-30">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li class="active">
          <a class="btn">En attente d'ouverture <span class="badge">{{ date_tocome }}</span></a>
        </li>
        <li class="active">
          <!-- <a class="btn"> <span class="badge">126</span></a> -->
        </li>
        <li class="active">
          <a class="btn">Abandonné <span class="badge">{{ date_pass }}</span></a>
        </li>
        <li>
          
            <input
              type="text"
              name="nom"
              class="form-control"
              id="templatemo_search_box"
              placeholder="..."
            />
            <button onClick="find_appointment()" class="btn btn-default">Rechercher </button>
         
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="templatemo-alerts">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span
              ><span class="sr-only">Fermer</span>
            </button>
            <strong>Succès !</strong> Votre dossier a bien été ouvert.
          </div>
          <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span
              ><span class="sr-only">Close</span>
            </button>
            Vous avez 5 dossiers en attente d'ouverture aujourd'hui.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="templatemo-alerts">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span
              ><span class="sr-only">Fermer</span>
            </button>
            Vous avez reçu un message du Transac.
          </div>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span
              ><span class="sr-only">Close</span>
            </button>
            Vous ne pouvez pas consulter ce dossier, il a été bloqué.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group pull-right" id="templatemo_sort_btn">
      <!-- <button type="button" class="btn btn-default">Trier par</button>
      <button
        type="button"
        class="btn btn-default dropdown-toggle"
        data-toggle="dropdown"
      >
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Nom</a></li>
        <li><a href="#">Prenom</a></li>
        <li><a href="#">Numero Client</a></li>
        <li><a href="#">Telephone</a></li>
        <li><a href="#">Date d'appel</a></li>
        <li><a href="#">Heure d'appel</a></li>
        <li><a href="#">Article d'interet</a></li>
        <li><a href="#">Comment nous a t-il connu</a></li>
        <li><a href="#">Date de rendez-vous</a></li>
        <li><a href="#">Heure de rendez-vous</a></li>
      </ul> -->
    
    <select onchange="sort_appointments(this.value)" style="border: 1px solid #ddd; padding-top: .5rem; padding-bottom: .5rem; padding-left: 1rem; font-size: 1.25rem;" class="form-select" name="" id="">
      <option disabled selected value="">Sort By</option>
      <option value="">All</option>
      <option value="Nom">Nom</option>
      <option value="prenom">Prenom</option>
      <option value="num_client">Numero Client</option>
      <option value="telephone">Telephone</option>
      <option value="date_dappel">Date d'appel</option>
      <option value="heure_dappel">Heure d'appel</option>
      <option value="article_dinteret">Article d'interet</option>
      <option value="how_connu">Comment nous a t-il connu</option>
      <option value="date_redezvous">Date de rendez-vous</option>
      <option value="heure_redezvous">Heure de rendez-vous</option>
    </select>
    </div>
   
    
    <div class="table-responsive">
      <table id="appointmentTable" class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Numero Client</th>
            <th>Telephone</th>
            <th>Date d'appel</th>
            <th>Heure d'appel</th>
            <th>Article d'interet</th>
            <th>Comment nous a t-il connu</th>
            <th>Date de rendez-vous</th> 
            <th>Heure de rendez-vous</th>
            <th>Vérifier</th>
            <th> Ouvrir </th>
          </tr>
        </thead>
        <tbody>
          {% for appointment in appointments %}
          <tr>
            <td>{{ appointment.nom }}</td>
            <td>{{ appointment.prenom }}</td>
            <td>{{ appointment.num_client }}</td>
            <td>{{ appointment.telephone }}</td>
            <td>{{ appointment.date_dappel }}</td>
            <td>{{ appointment.heure_dappel }}</td>
            <td>{{ appointment.article_dinteret }}</td>
            <td>{{ appointment.how_connu }}</td>
            <td>{{ appointment.date_redezvous }}</td>
            <td>{{ appointment.heure_redezvous }}</td>
  
            <td>
              
              <div class="btn-group">
              <a
                type="button"
                class="btn btn-info"
               href="#accordion"
                onclick="get_appointment('{{ appointment.id }}')"
              >
              Ouvert
              </a>
              <div>
            </td>
          </tr>

          {% endfor  %}
         
        </tbody>
      </table>
    </div>
  </div>
  <ul class="pagination pull-right">
    <li class="disabled" onclick="prev()" id="prev"><a >&laquo;</a></li>
    {% for i in page_list %}
    <li class="{% if i == page %}active {% endif %}">
      <a class="btn" onclick="paginate_table('{{ i }}')">{{ i }} <span class="sr-only">(current)</span></a>
    </li>
    {% endfor %}
    <li id="next" onclick="next()"><a >&raquo;</a></li>
  </ul>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel-group" id="accordion">
      <!-- <form class="" role="form" id="templatemo-preferences-form"> -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseOne"
            >
              <span class="badge">1</span>&nbsp; Préqualifier
            </a>
          </h4>
        </div>
        <form id="form">
          {% csrf_token %}
        <div id="collapseOne" class="panel-collapse collapse in">
          
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 margin-bottom-15">
                <label for="firstName" class="control-label"
                  >Numéro client</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="num_client"
                  placeholder="ex: 959766784"
                  required
                />
                <input
                name="client_id"
                type="hidden"
                class="form-control"
                id="client_id"
                placeholder=""
              />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 margin-bottom-15">
                <label for="dateNaiss" class="control-label"
                  >Date d'arrivée</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="dateNaiss"
                  required
                />
              </div>
              <div class="col-md-6 margin-bottom-15">
                <label for="lieuNaiss" class="control-label"
                  >Heure d'arrivée</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="lieuNaiss"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 margin-bottom-15">
                <label for="email" class="control-label">Nom</label>
                <input
                  type="text"
                  class="form-control"
                  id="nom"
                  placeholder="DOSSO"
                  required
                />
              </div>
              <div class="col-md-6 margin-bottom-15">
                <label for="phoneA" class="control-label">Prénom</label>
                <input
                  type="text"
                  class="form-control"
                  id="prenom"
                  placeholder="Hubert"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 margin-bottom-15">
                <label for="phoneA" class="control-label">Téléphone</label>
                <input
                  type="text"
                  class="form-control"
                  id="telephone"
                  placeholder="986876869"
                  required
                />
              </div>
              <div class="col-md-6 margin-bottom-15">
                <label for="articleI" class="control-label"
                  >Article d'intérêt</label
                >
                <select name="article_dinteret" class="form-control margin-bottom-15" id="articleI">
                  {% for obj in article_interet %}
                  
                  <option value="{{ obj }}">{{ obj }}</option>
                  
                  {% endfor %}
                </select> 
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 margin-bottom-15">
                <label for="connuA" class="control-label"
                  >Comment nous a t-il connu ?</label
                >
                <select name="how_connu" class="form-control margin-bottom-15" id="connuA">
                  <option value="Presse">Presse</option>
                  <option value="Tele">Télé</option>
                  <option value="Radio">Radio</option>
                  <option value="Connaissance">Connaissance</option>
                  <option value="Autre">Autre</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 margin-bottom-15">
                <button
                  type="button"
                  id="loading-example-btn3"
                  data-loading-text="impression en cours"
                  class="btn btn-primary"
                  onclick="update_appointment()"
                >
                  Préqualifier
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<div
  class="modal fade"
  id="confirmOpen"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span
          ><span class="sr-only">Fermer</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Voulez vous vraiment ouvrir ce dossier
        </h4>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">Oui</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Non
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="confirmModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span
          ><span class="sr-only">Fermer</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Voulez vous vraiment vous déconnecter ?
        </h4>
      </div>
      <div class="modal-footer">
        <a href="../../logout" class="btn btn-primary">Oui</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Non
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block scripts %}
<script>
  // Line chart
  var randomScalingFactor = function () {
    return Math.round(Math.random() * 100);
  };
  var lineChartData = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
      {
        label: "My First dataset",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
        ],
      },
      {
        label: "My Second dataset",
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        data: [
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
          randomScalingFactor(),
        ],
      },
    ],
  };

  window.onload = function () {
    var ctx_line = document
      .getElementById("templatemo-line-chart")
      .getContext("2d");
    window.myLine = new Chart(ctx_line).Line(lineChartData, {
      responsive: true,
    });
  };

  $("#myTab a").click(function (e) {
    e.preventDefault();
    $(this).tab("show");
  });

  $("#loading-example-btn").click(function () {
    var btn = $(this);
    btn.button("loading");
    // $.ajax(...).always(function () {
    //   btn.button('reset');
  });
</script>

<!-- ADD CUSTOM SCRIPT -->
<script>


// UDPATE APPOINTMENT
function update_appointment() {
  console.log('MAKE UPDATE REQUEST')
  // let data = {hello: 'great'};
  var form = document.getElementById('form');

  csrftoken = form.getElementsByTagName('input')[0].value;

  let client_id = document.getElementById('client_id');
  let num_client_input = document.getElementById('num_client');
  let date_arrivee_input = document.getElementById('dateNaiss');
  let heure_arrivee_input = document.getElementById('lieuNaiss');
  let nom_input = document.getElementById('nom');
  let prenom_input = document.getElementById('prenom');
  let telephone_input = document.getElementById('telephone');
  let article_input = document.getElementById('articleI');
  let how_connu_input = document.getElementById('connuA') 


  $.ajax({
        method: 'PUT',
        url: 'accueuil/api/get_appointment/',
        beforeSend: function() {
            console.log('Before Send')
        }, 
        headers: { "X-CSRFTOKEN": csrftoken  },
        data: {
                client_id: client_id.value,
                num_client: num_client_input.value,
                date_arrivee: date_arrivee_input.value,
                heure_arrivee: heure_arrivee_input.value,
                nom: nom_input.value,
                prenom: prenom_input.value,
                telephone: telephone_input.value,
                article: article_input.value,
                how_connu: how_connu_input.value
              }, 
        success: function(result) {
          let client_id_input = document.getElementById('client_id');
          let num_client_input = document.getElementById('num_client');
          let date_arrivee_input = document.getElementById('dateNaiss');
          let heure_arrivee_input = document.getElementById('lieuNaiss');
          let nom_input = document.getElementById('nom');
          let prenom_input = document.getElementById('prenom');
          let telephone_input = document.getElementById('telephone');
          let article_input = document.getElementById('articleI');
          let how_connu_input = document.getElementById('connuA')

          client_id_input.value = '';
          nom_input.value = '';
          num_client_input.value = '';
          prenom_input.value = '';
          telephone_input.value = '';
          article_input.value = '';
          how_connu_input.value = '';
          date_arrivee_input.value = '';
          heure_arrivee_input.value = '';
          window.location.reload("#");
            console.log('after send') 
        },

        error: function() {
            console.log('error')
        }
    })
}
// Bellow Is Function To Update Appointment
function update_appointment_input(appointment_data,id) {
  appointment = appointment_data;

  let nom = appointment.nom;
  let prenom = appointment.prenom;
  let num_client = appointment.num_client;
  let telephone = appointment.telephone;
  let date_dappel = appointment.date_dappel;
  let heure_dappel = appointment.heure_dappel;
  let article = appointment.article_dinteret;
  let how_connu = appointment.how_connu;
  let date_rendezvous = appointment.date_rendezvous;
  let heure_redezvous = appointment.heure_redezvous

  let client_id_input = document.getElementById('client_id');
  let num_client_input = document.getElementById('num_client');
  let date_arrivee_input = document.getElementById('dateNaiss');
  let heure_arrivee_input = document.getElementById('lieuNaiss');
  let nom_input = document.getElementById('nom');
  let prenom_input = document.getElementById('prenom');
  let telephone_input = document.getElementById('telephone');
  let article_input = document.getElementById('articleI');
  let how_connu_input = document.getElementById('connuA')

  client_id_input.value = id;
  nom_input.value = nom;
  num_client_input.value = num_client;
  prenom_input.value = prenom;
  telephone_input.value = telephone;
  article_input.value = article;
  how_connu_input.value = how_connu;

}

function get_appointment(id) {
  // console.log('Appointment Bellow')
  // console.log(appointment)
  let params = `id=${id}`
  let appointment = null;
  $.ajax({
        method: 'GET',
        url: 'accueuil/api/get_appointment?' + params,
        beforeSend: function() {
            console.log('Before Send')
        },

        success: function(result) {
            appointment = result;
            console.log(result)
            update_appointment_input(result,id)
            console.log('after send') 
        },

        error: function() {
            console.log('error')
        }
    })
  
  
}

// PAGINATOR CODE BELLOW

function paginate_table(page,$event) {
    document.getElementById('templatemo_search_box').value = '';
  if(page > 1) {
    document.getElementById('prev').classList = '';
  }

  if(page == 1) {
    document.getElementById('prev').classList = 'disabled'
  }



  //  Write Logic to change current active button
  
    all_childrens = event.target.parentElement.parentElement.children
    for(let i = 0; i < all_childrens.length; i++){
        if(all_childrens[i].classList.contains('active')){
          all_childrens[i].classList = '';
        }
    }
   
    event.target.parentElement.classList = 'active'

    // Total Pages Calculation Bellow
    let total = all_childrens.length - 2;

    if(page == total) {
      document.getElementById('next').classList = 'disabled'
    }

    if(page < total) {
      document.getElementById('next').classList = ''
    }

    let param = `page=${page}`
    send_paginate_request(param)
}

function next($event) {
  let all_childrens = event.target.parentElement.parentElement.children
  let setactive = 0;
  prevactive = 0;

  for(let i = 0; i < all_childrens.length; i++){
        if(all_childrens[i].classList.contains('active')){
          prevactive = i;
          all_childrens[i].classList = '';
          setactive = i+1;
        }
    }

    
  let total = all_childrens.length - 2;
  
  if(setactive > total) {
    console.log('SET ACTIVE IS GREATER THAN TOTAL')
    all_childrens[prevactive].classList = 'active';

  }else {

    if(setactive > 1) {
      document.getElementById('prev').classList = '';
    }


    if(setactive == total) {
      document.getElementById('next').classList = 'disabled'
    }


    all_childrens[setactive].classList = 'active';
    let param = `page=${setactive}`
    send_paginate_request(param)
  }

}


function prev($event) {
  let all_childrens = event.target.parentElement.parentElement.children
  let setactive = 0;
  let prevactive = 0;

  for(let i = 0; i < all_childrens.length; i++){
        if(all_childrens[i].classList.contains('active')){
          prevactive = i;
          all_childrens[i].classList = '';
          setactive = i-1;
        }
    }

    
  let total = all_childrens.length - 2;
  
  if(setactive < 1) {
    console.log('SET ACTIVE IS LESSER THAN ONE')
    all_childrens[prevactive].classList = 'active';

  }else {

    if(setactive < total) {
      document.getElementById('next').classList = '';
    }

    if(setactive == 1) {
      document.getElementById('prev').classList = 'disabled'
    }


    all_childrens[setactive].classList = 'active';
    let param = `page=${setactive}`
    send_paginate_request(param)
  }

}


function send_paginate_request(param) {
    $.ajax({
        method: 'GET',
        url: 'accueuil/api/paginate_appointments?' + param,
        beforeSend: function() {
            console.log('Before Send')
        },

        success: function(result) {
          console.log('after send')
            update_table_paginate(result);
            
        },

        error: function() {
            console.log('error')
        }
    })
}

function update_table_paginate(data) {
    let row;
    let all_rows = '';

    Object.keys(data).forEach((key,index) => {
        elem = data[key];
        
        row = `<tr><td> ${elem['nom']} </td> <td>${elem['prenom']}</td> <td>${elem['num_client']}</td> <td>${elem['telephone']}</td> <td>${elem['date_dappel']}</td> <td>${elem['heure_dappel']}</td> <td>${elem['article_dinteret']}</td> <td>${elem['how_connu']}</td> <td>${elem['date_redezvous']}</td> <td>${elem['heure_redezvous']}</td>  <td> <div class="btn-group"> <a type="button" class="btn btn-info"  href="#accordion" onclick="get_appointment(${elem['id']})"> Ouvert </a></div> </td> </tr>`
        all_rows = all_rows + row;
    });

    $("#appointmentTable tbody").html(all_rows)
}

// END OF PAGINATOR


function sort_appointments(sort_type) {
    document.getElementById('templatemo_search_box').value = '';
    let param = `${sort_type}=${sort_type}`
    send_request(param);
}

function find_appointment() {
    let nom = document.getElementById('templatemo_search_box').value;
    let param = `search_nom=${nom}`
    send_request(param);
}

// function appointment_tocome() {
//     document.getElementById('templatemo_search_box').value = '';
//     let param = `date_tocome=True`
//     send_request(param);
// }

// function appointment_pass() {
//     document.getElementById('templatemo_search_box').value = '';
//     let param = `date_pass=True`
//     send_request(param)
// }

function send_request(param) {
    $.ajax({
        method: 'GET',
        url: 'accueuil/api/get_appointments?' + param,
        beforeSend: function() {
            console.log('Before Send')
        },

        success: function(result) {
            update_table(result);
            console.log('after send')
        },

        error: function() {
            console.log('error')
        }
    })
}

function update_table(data) {
    console.log('Table Update')
    let row;
    let all_rows = '';

    Object.keys(data).forEach((key,index) => {
        elem = data[key];
        console.log('data bellow')
        console.log(data[index])
        app = data[index];
        row = `<tr><td> ${elem['nom']} </td> <td>${elem['prenom']}</td> <td>${elem['num_client']}</td> <td>${elem['telephone']}</td> <td>${elem['date_dappel']}</td> <td>${elem['heure_dappel']}</td> <td>${elem['article_dinteret']}</td> <td>${elem['how_connu']}</td> <td>${elem['date_redezvous']}</td> <td>${elem['heure_redezvous']}</td>  <td> <div class="btn-group"> <a type="button" class="btn btn-info"  href="#accordion" onclick="get_appointment(${elem['id']})"> Ouvert </a></div> </td> </tr>`
        all_rows = all_rows + row;
    });
    console.log(all_rows)
    $("#appointmentTable tbody").html(all_rows)
}
   
</script>
<script type="text/javasctipt" src="{% static 'appointment.js' %}"></script>

{% endblock %}
