{% extends 'recouvrement/layouts/base.html' %} {% load static %} {% block content %}

<div class="margin-bottom-30">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li class="active">
          <a href="#">Dossiers en recouvrement<span class="badge">42</span></a>
        </li>
        <li class="active">
          <a href="#">Dossiers régularisés<span class="badge">26</span></a>
        </li>
        <li class="active">
          <a href="#">Dossiers cloturés<span class="badge">14</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="templatemo-alerts">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span
              ><span class="sr-only">Close</span>
            </button>
            Tout est en ordre vous pouvez continuer.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="templatemo-alerts">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span
              ><span class="sr-only">Fermer</span>
            </button>
            Vous avez 2 messages en attente.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br />
<div class="row">
  <div class="col-md-12">
    <div class="panel-group" id="accordion">
      <!-- <form class="" role="form" id="templatemo-preferences-form"> -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseOne"
            >
              <span class="badge">1</span>&nbsp; Etat statistiques
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">EN ATTENTE GRAPHIQUE</div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseTwo"
            >
              <span class="badge">2</span>&nbsp; Etat des dossiers
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 margin-bottom-15">
                <div class="btn-group pull-right" id="templatemo_sort_btn">
  
                  <select onchange="sort_etat(this.value)" style="border: 1px solid #ddd; padding-top: .5rem; padding-bottom: .5rem; padding-left: 1rem; font-size: 1.25rem;" class="form-select">
                    <option disabled selected value="">Sort By</option>
                    <option value="">All</option>
                    <option value="uid">N° client</option>
                    <option value="phone_1">Téléphone</option>
                    <option value="nom">Nom</option>
                    <option value="prenom">Prénom</option>
                    <option value="statut">Statut</option>
                    <option value="dernier_appel">Dernier Paiement</option>
                    <option value="coeff_recouv">Coeff recouvr</option>
                    <option value="appele_recouvre">Appelé & récouvré</option>
                  </select>
                </div>
                <div class="table-responsive">
                  <table id="etatTable" class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>N° client</th>
                        <th>Téléphone</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>N°dossier</th>
                        <th>Statut</th>
                        <th>Dernier Paiement</th>
                        <th>Coeff recouvr</th>
                        <th>Appelé & récouvré</th>
                        <th>Dernier appel</th>
                        <th>Modifier</th>
                        <!-- <th>Ouvrir</th> -->
                        <th>Consulter</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for dossier in all_dossier %}
                      <!-- <tr class="danger"> -->
                      <td>{{ dossier.client.uid }}</td>
                      <td>{{ dossier.client.phone_1 }}</td>
                      <td>{{ dossier.client.nom }}</td>
                      <td>{{ dossier.client.prenom }}</td>
                      <td>{{ dossier.uid }}</td>
                      <td>{{ dossier.statut }}</td>
                      <td>{{ dossier.date_dernier_paiement }}</td>
                      <td>{{ dossier.coeff_recouv }}</td>
                      <td>{{ dossier.appele_recouvre }}</td>
                      <td>{{ dossier.dernier_appel }}</td>
                      <td>
                        <!-- Split button -->
                        <div classbtn-group">
                        <button
                          type="button"
                          class="btn btn-default"
                          data-toggle="modal"
                          data-target="#confirmPlan"
                        >
                          Modifier
                        </button>
                      </td>
                      <!-- <td>
                       
                        <div class = "btn-group">
                        <button
                          type="button"
                          class="btn btn-info"
                          data-toggle="modal"
                          data-target=""
                        >
                          Ouvrir
                        </button>
                        </div>
                      </td> -->
                      <td><a data-target="#showFacture" onclick="show_facture('{{ dossier.uid }}')" data-toggle="modal" class="btn btn-link">Consulter</a></td>
                    <!-- </tr> -->
                    {% endfor  %}
                    </tbody>
                  </table>
                </div>
              </div>
              <ul class="pagination pull-right">
                <li class="disabled" onclick="prev()" id="prev"><a >&laquo;</a></li>
                {% for i in page_list %}
                <li class="{% if i == page %}active {% endif %}">
                  <a class="btn" onclick="paginate_table('{{ i }}')">{{ i }} <span class="sr-only">(current)</span></a>
                </li>
                {% endfor %}
                <li id="next" onclick="next()"><a >&raquo;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseThree"
            >
              <span class="badge">3</span>&nbsp; Etat des listes rouges
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 margin-bottom-15">
                <div class="btn-group pull-right" id="templatemo_sort_btn">

                  <select onchange="sort_etat(this.value)" style="border: 1px solid #ddd; padding-top: .5rem; padding-bottom: .5rem; padding-left: 1rem; font-size: 1.25rem;" class="form-select">
                    <option disabled selected value="">Sort By</option>
                    <option value="">All</option>
                    <option value="uid">N° client</option>
                    <option value="phone_1">Téléphone</option>
                    <option value="nom">Nom</option>
                    <option value="prenom">Prénom</option>
                    <option value="statut">Statut</option>
                    <option value="dernier_appel">Dernier Paiement</option>
                    <option value="coeff_recouv">Coeff recouvr</option>
                    <option value="appele_recouvre">Appelé & récouvré</option>
                  </select>
                </div>
                <div class="table-responsive">
                  <table id="etatTable" class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>N° client</th>
                        <th>Téléphone</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>N°dossier</th>
                        <th>Statut</th>
                        <th>Dernier Paiement</th>
                        <th>Coeff recouvr</th>
                        <th>Appelé & récouvré</th>
                        <th>Dernier appel</th>
                        <th>Modifier</th>
                        <!-- <th>Ouvrir</th> -->
                        <th>Consulter</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for dossier in all_dossier %}
                      <!-- <tr class="danger"> -->
                      <td>{{ dossier.client.uid }}</td>
                      <td>{{ dossier.client.phone_1 }}</td>
                      <td>{{ dossier.client.nom }}</td>
                      <td>{{ dossier.client.prenom }}</td>
                      <td>{{ dossier.uid }}</td>
                      <td>{{ dossier.statut }}</td>
                      <td>{{ dossier.date_dernier_paiement }}</td>
                      <td>{{ dossier.coeff_recouv }}</td>
                      <td>{{ dossier.appele_recouvre }}</td>
                      <td>{{ dossier.dernier_appel }}</td>
                      <td>
                        <!-- Split button -->
                        <div classbtn-group>
                        <button
                          type="button"
                          class="btn btn-default"
                          data-toggle="modal"
                          data-target="#confirmPlan"
                          onclick="set_id_to_pay('{{ dossier.id }}')""
                        >
                          Modifier
                        </button>
                      </td>
                      <!-- <td>
                       
                        <div class = "btn-group">
                        <button
                          type="button"
                          class="btn btn-info"
                          data-toggle="modal"
                          data-target="#confirmPlan"
                        >
                          Ouvrir
                        </button>
                        </div>
                      </td> -->
                      <td><a data-target="#showFacture" onclick="show_facture('{{ dossier.uid }}')" data-toggle="modal" class="btn btn-link">Consulter</a></td>
                    <!-- </tr> -->
                    {% endfor  %}
                    </tbody>
                  </table>
                </div>
              </div>
              <ul class="pagination pull-right">
                <li class="disabled" onclick="prev()" id="prev"><a >&laquo;</a></li>
                {% for i in page_list %}
                <li class="{% if i == page %}active {% endif %}">
                  <a class="btn" onclick="paginate_table('{{ i }}')">{{ i }} <span class="sr-only">(current)</span></a>
                </li>
                {% endfor %}
                <li id="next" onclick="next()"><a >&raquo;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %} {% block modal %}
  <div
    class="modal fade"
    id="confirmModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span
            ><span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">
            Are you sure you want to sign out?
          </h4>
        </div>
        <div class="modal-footer">
          <a href="../logout" class="btn btn-primary">Yes</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            No
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div
  class="modal fade"
  id="modifPlan"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span
          ><span class="sr-only">Fermer</span>
        </button>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary">Modifier</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Fermer
        </button>
      </div>
    </div>
  </div>
  </div>

  <div
  class="modal fade"
  id="confirmPlan"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span
          ><span class="sr-only">Fermer</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Modifier Statut
        </h4>
      </div>
      <div class="modal-body">
        <select onchange="sort_etat(this.value)" style="border: 1px solid #ddd; padding-top: .5rem; padding-bottom: .5rem; padding-left: 1rem; font-size: 1.25rem;" class="form-select">
          <option disabled selected value="">Select New Statut</option>
          <option value="A">A</option>
          <option value="R1">R1</option>
          <option value="R2">R2</option>
          <option value="R3">R3</option>
          <option value="R4">R4</option>
        </select>

      </div>
      <div class="modal-footer">
        <a href="#" onclick="pay_facture()"  class="btn btn-primary">Confirmer</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Annuler
        </button>
      </div>
    </div>
  </div>
  </div>

  <div
  class="modal fade"
  id="confirmModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span
          ><span class="sr-only">Fermer</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Voulez vous vraiment vous déconnecter ?
        </h4>
      </div>
      <div class="modal-footer">
        <a href="../logout" class="btn btn-primary">Oui</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Non
        </button>
      </div>
    </div>
  </div>
  </div>

  <div
class="modal fade"
id="showFacture"
tabindex="-1"
role="dialog"
aria-labelledby="myModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span
        ><span class="sr-only">Fermer</span>
      </button>
      <h4 class="modal-title" id="myModalLabel" style="text-align: center;">
       PAIEMENT EN RETARD
      </h4>
      <hr>
    <div id="display-facture">
      
    </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        Fermer
      </button>
    </div>
  </div>
</div>
 </div>
  {% endblock %} {% block scripts %}

  <script  type="text/javascript">
 let id_to_pay = null;   
// PAGINATOR CODE BELLOW
  
  function paginate_table(page,$event) {
      // document.getElementById('templatemo_search_box').value = '';
    if(page > 1) {
      document.getElementById('prev').classList = '';
    }
  
    if(page == 1) {
      document.getElementById('prev').classList = 'disabled'
    }
  
  
  
    //  Write Logic to change current active button
    
      all_childrens = event.target.parentElement.parentElement.children
      for(let i = 0; i < all_childrens.length; i++){
          if(all_childrens[i].classList.contains('active')){
            all_childrens[i].classList = '';
          }
      }
     
      event.target.parentElement.classList = 'active'
  
      // Total Pages Calculation Bellow
      let total = all_childrens.length - 2;
  
      if(page == total) {
        document.getElementById('next').classList = 'disabled'
      }
  
      if(page < total) {
        document.getElementById('next').classList = ''
      }
  
      let param = `page=${page}`
      send_paginate_request(param)
  }
  function next($event) {
    let all_childrens = event.target.parentElement.parentElement.children
    let setactive = 0;
    prevactive = 0;
  
    for(let i = 0; i < all_childrens.length; i++){
          if(all_childrens[i].classList.contains('active')){
            prevactive = i;
            all_childrens[i].classList = '';
            setactive = i+1;
          }
      }
  
      
    let total = all_childrens.length - 2;
    
    if(setactive > total) {
      console.log('SET ACTIVE IS GREATER THAN TOTAL')
      all_childrens[prevactive].classList = 'active';
  
    }else {
  
      if(setactive > 1) {
        document.getElementById('prev').classList = '';
      }
  
  
      if(setactive == total) {
        document.getElementById('next').classList = 'disabled'
      }
  
  
      all_childrens[setactive].classList = 'active';
      let param = `page=${setactive}`
      send_paginate_request(param)
    }
  
  }
  
  function prev($event) {
    let all_childrens = event.target.parentElement.parentElement.children
    let setactive = 0;
    let prevactive = 0;
  
    for(let i = 0; i < all_childrens.length; i++){
          if(all_childrens[i].classList.contains('active')){
            prevactive = i;
            all_childrens[i].classList = '';
            setactive = i-1;
          }
      }
  
      
    let total = all_childrens.length - 2;
    
    if(setactive < 1) {
      console.log('SET ACTIVE IS LESSER THAN ONE')
      all_childrens[prevactive].classList = 'active';
  
    }else {
  
      if(setactive < total) {
        document.getElementById('next').classList = '';
      }
  
      if(setactive == 1) {
        document.getElementById('prev').classList = 'disabled'
      }
  
  
      all_childrens[setactive].classList = 'active';
      let param = `page=${setactive}`
      send_paginate_request(param)
    }
  
  }
  
  function send_paginate_request(param) {
      $.ajax({
          method: 'GET',
          url: 'api/paginate_etat?' + param,
          beforeSend: function() {
              console.log('Before Send')
          },
  
          success: function(result) {
            console.log('after send')
            console.log(result)
              update_table_paginate(result);
              
          },
  
          error: function() {
              console.log('error')
          }
      })
  }
  
  function update_table_paginate(data) {
      let row;
      let all_rows = '';
      // console.log('UPDATE TABLE PAGINATE')
      // console.log(data[0].client)
      Object.keys(data).forEach((key,index) => {
     
          elem = data[key];
          row = ''
          row = `<tr><td> ${elem.client.uid} </td> <td>${elem.client.phone_1}</td> <td>${elem.client.nom}</td> <td>${elem.client.prenom}</td> <td>${elem['uid']}</td> <td>${elem['statut']}</td> <td> ${elem['date_dernier_paiement']} </td> <td>${elem['coeff_recouv']}</td> <td>${elem['appele_recouvre']}</td> <td>${elem['dernier_appel']}</td> <td> <div class="btn-group"> <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modifPlan">  Modifier </button> </div> </td>  <td><a href="#" class="btn btn-link">Consulter</a></td>`
          all_rows = all_rows + row;
      });
  
      $("#etatTable tbody").html(all_rows)
  }
  
// END OF PAGINATOR

// TABLE FEATURES
  
function sort_etat(sort_type) {
      let param = `${sort_type}=${sort_type}`
      send_request(param);
  }
  
  function find_cpml() {
      let search_query = document.getElementById('templatemo_search_box').value;
      let param = `search_table=${search_query}`
      send_request(param);
  }

  function send_request(param) {
      $.ajax({
          method: 'GET',
          url: 'api/get_etat?' + param,
          beforeSend: function() {
              console.log('Before Send')
          },
  
          success: function(result) {
              update_table(result);
              console.log('after send')
          },
  
          error: function() {
              console.log('error')
          }
      })
  }
  
  function update_table(data) {
      console.log('Table Update')
      let row;
      let all_rows = '';
    
      Object.keys(data).forEach((key,index) => {
          elem = data[key];
          console.log('data bellow')
          console.log(data[index])
          app = data[index];
          row = `<tr><td> ${elem.client.uid} </td> <td>${elem.client.phone_1}</td> <td>${elem.client.nom}</td> <td>${elem.client.prenom}</td> <td>${elem['uid']}</td> <td>${elem['statut']}</td> <td> ${elem['date_dernier_paiement']} </td> <td>${elem['coeff_recouv']}</td> <td>${elem['appele_recouvre']}</td> <td>${elem['dernier_appel']}</td> <td> <div class="btn-group"> <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modifPlan">  Modifier </button> </div> </td>  <td> <div class = "btn-group"> <button type="button" class="btn btn-info" data-toggle="modal" data-target="#confirmPlan">  Ouvrir </button> </div> </td>  <td><a data-target="#showFacture" onclick="show_facture(${elem['uid']})" data-toggle="modal" class="btn btn-link">Consulter</a></td>`
          all_rows = all_rows + row;
      });
      $("#etatTable tbody").html(all_rows)
  }

// END TABLE FEATURES
 
  function update_facture_modal(facture) {
    console.log('UPDATE FACTURE MODAL')
    let data = `
    <div style="text-align: center;">
          <span style="font-size: 20px; font-weight: bold; text-align: center;">Article Name: </span>
          <span style="font-size: 20px; text-align: center;">${facture.article.nom}</span>
        </div>

        <div style="text-align: center;">
          <span style="font-size: 20px; font-weight: bold; text-align: center;">Statut: ${facture.statut} </span>
        </div>

        <div style="text-align: center;">
          <span style="font-size: 20px; font-weight: bold; text-align: center;">Somme: ${facture.somme} </span>
        </div>

    `

    document.getElementById('display-facture').innerHTML = data;
  }

 
  function get_facture(id) {
    // This is the function that will make the api call and get facture
    let param = "id="+id
    let result = null;
    
    $.ajax({
          method: 'GET',
          url: 'facture/api/get_facture?' + param,
          beforeSend: function() {
              console.log('Before Send')
          },
  
          success: function(result) {
            // CALL FUNCTION BELLOW TO UPDATE MODAL WITH FACTURE DETAILS
            console.log(result.facture)
            update_facture_modal(result.facture)
          },
  
          error: function() {
              console.log('error')
          }
      })

  }
 // #########END OF FACTURE SHOWING CODE######### 
  
  function show_facture(id) {
    // CALL GET FACTURE FUNCTION TO GO AND GET FCTURE
   get_facture(id)
  }

  function pay_facture() {
    //THIS FUNCTION WILL MAKE API CALL WITH DOSSIER ID TO PAY FACTURE
    // let param = "id=" + id_to_pay & "status="+"A"
    // var form = document.getElementById('form');

    // csrftoken = form.getElementsByTagName('input')[0].value;

    $.ajax({
          method: 'POST',
          url: 'caisse/api/pay_facture',
          headers: { "X-CSRFTOKEN": csrftoken  },
          beforeSend: function() {
              console.log('Before Send')
          },
          data: {id: id_to_pay , status: "PM1"},
          success: function(result) {
            // CALL FUNCTION BELLOW TO UPDATE MODAL WITH FACTURE DETAILS
            console.log('facture paid')
            genarate_next_facture()
            // window.location.reload()
          },
  
          error: function() {
              console.log('error')
          }
      })
  }

  function set_id_to_pay(id) {
    id_to_pay = id;
    console.log('ID TO PAY BELLOW')
    console.log(id)
  }

  </script>

  <script  type="text/javascript">
    let id_to_pay_0 = null;   
  // PAGINATOR CODE BELLOW
    
    function paginate_table(page,$event) {
        // document.getElementById('templatemo_search_box').value = '';
      if(page > 1) {
        document.getElementById('prev').classList = '';
      }
    
      if(page == 1) {
        document.getElementById('prev').classList = 'disabled'
      }
    
    
    
      //  Write Logic to change current active button
      
        all_childrens = event.target.parentElement.parentElement.children
        for(let i = 0; i < all_childrens.length; i++){
            if(all_childrens[i].classList.contains('active')){
              all_childrens[i].classList = '';
            }
        }
        
        event.target.parentElement.classList = 'active'
    
        // Total Pages Calculation Bellow
        let total = all_childrens.length - 2;
    
        if(page == total) {
          document.getElementById('next').classList = 'disabled'
        }
    
        if(page < total) {
          document.getElementById('next').classList = ''
        }
    
        let param = `page=${page}`
        send_paginate_request(param)
    }
    function next($event) {
      let all_childrens = event.target.parentElement.parentElement.children
      let setactive = 0;
      prevactive = 0;
    
      for(let i = 0; i < all_childrens.length; i++){
            if(all_childrens[i].classList.contains('active')){
              prevactive = i;
              all_childrens[i].classList = '';
              setactive = i+1;
            }
        }
    
        
      let total = all_childrens.length - 2;
      
      if(setactive > total) {
        console.log('SET ACTIVE IS GREATER THAN TOTAL')
        all_childrens[prevactive].classList = 'active';
    
      }else {
    
        if(setactive > 1) {
          document.getElementById('prev').classList = '';
        }
    
    
        if(setactive == total) {
          document.getElementById('next').classList = 'disabled'
        }
    
    
        all_childrens[setactive].classList = 'active';
        let param = `page=${setactive}`
        send_paginate_request(param)
      }
    
    }
    
    function prev($event) {
      let all_childrens = event.target.parentElement.parentElement.children
      let setactive = 0;
      let prevactive = 0;
    
      for(let i = 0; i < all_childrens.length; i++){
            if(all_childrens[i].classList.contains('active')){
              prevactive = i;
              all_childrens[i].classList = '';
              setactive = i-1;
            }
        }
    
        
      let total = all_childrens.length - 2;
      
      if(setactive < 1) {
        console.log('SET ACTIVE IS LESSER THAN ONE')
        all_childrens[prevactive].classList = 'active';
    
      }else {
    
        if(setactive < total) {
          document.getElementById('next').classList = '';
        }
    
        if(setactive == 1) {
          document.getElementById('prev').classList = 'disabled'
        }
    
    
        all_childrens[setactive].classList = 'active';
        let param = `page=${setactive}`
        send_paginate_request(param)
      }
    
    }
    
    function send_paginate_request(param) {
        $.ajax({
            method: 'GET',
            url: 'api/paginate_etat?' + param,
            beforeSend: function() {
                console.log('Before Send')
            },
    
            success: function(result) {
              console.log('after send')
              console.log(result)
                update_table_paginate(result);
                
            },
    
            error: function() {
                console.log('error')
            }
        })
    }
    
    function update_table_paginate(data) {
        let row;
        let all_rows = '';
        // console.log('UPDATE TABLE PAGINATE')
        // console.log(data[0].client)
        Object.keys(data).forEach((key,index) => {
        
            elem = data[key];
            row = ''
            row = `<tr><td> ${elem.client.uid} </td> <td>${elem.client.phone_1}</td> <td>${elem.client.nom}</td> <td>${elem.client.prenom}</td> <td>${elem['uid']}</td> <td>${elem['statut']}</td> <td> ${elem['date_dernier_paiement']} </td> <td>${elem['coeff_recouv']}</td> <td>${elem['appele_recouvre']}</td> <td>${elem['dernier_appel']}</td> <td> <div class="btn-group"> <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modifPlan">  Modifier </button> </div> </td>  <td><a href="#" class="btn btn-link">Consulter</a></td>`
            all_rows = all_rows + row;
        });
    
        $("#etatTable tbody").html(all_rows)
    }
    
  // END OF PAGINATOR
  
  // TABLE FEATURES
    
  function sort_etat(sort_type) {
        let param = `${sort_type}=${sort_type}`
        send_request(param);
    }
    
    function find_cpml() {
        let search_query = document.getElementById('templatemo_search_box').value;
        let param = `search_table=${search_query}`
        send_request(param);
    }
  
    function send_request(param) {
        $.ajax({
            method: 'GET',
            url: 'api/get_etat?' + param,
            beforeSend: function() {
                console.log('Before Send')
            },
    
            success: function(result) {
                update_table(result);
                console.log('after send')
            },
    
            error: function() {
                console.log('error')
            }
        })
    }
    
    function update_table(data) {
        console.log('Table Update')
        let row;
        let all_rows = '';
      
        Object.keys(data).forEach((key,index) => {
            elem = data[key];
            console.log('data bellow')
            console.log(data[index])
            app = data[index];
            row = `<tr><td> ${elem.client.uid} </td> <td>${elem.client.phone_1}</td> <td>${elem.client.nom}</td> <td>${elem.client.prenom}</td> <td>${elem['uid']}</td> <td>${elem['statut']}</td> <td> ${elem['date_dernier_paiement']} </td> <td>${elem['coeff_recouv']}</td> <td>${elem['appele_recouvre']}</td> <td>${elem['dernier_appel']}</td> <td> <div class="btn-group"> <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modifPlan">  Modifier </button> </div> </td>  <td> <div class = "btn-group"> <button type="button" class="btn btn-info" data-toggle="modal" data-target="#confirmPlan">  Ouvrir </button> </div> </td>  <td><a data-target="#showFacture" onclick="show_facture(${elem['uid']})" data-toggle="modal" class="btn btn-link">Consulter</a></td>`
            all_rows = all_rows + row;
        });
        $("#etatTable tbody").html(all_rows)
    }
  
  // END TABLE FEATURES
    
    function update_facture_modal(facture) {
      console.log('UPDATE FACTURE MODAL')
      let data = `
      <div style="text-align: center;">
            <span style="font-size: 20px; font-weight: bold; text-align: center;">Article Name: </span>
            <span style="font-size: 20px; text-align: center;">${facture.article.nom}</span>
          </div>
  
          <div style="text-align: center;">
            <span style="font-size: 20px; font-weight: bold; text-align: center;">Statut: ${facture.statut} </span>
          </div>
  
          <div style="text-align: center;">
            <span style="font-size: 20px; font-weight: bold; text-align: center;">Somme: ${facture.somme} </span>
          </div>
  
      `
  
      document.getElementById('display-facture').innerHTML = data;
    }
  
    
    function get_facture(id) {
      // This is the function that will make the api call and get facture
      let param = "id="+id
      let result = null;
      
      $.ajax({
            method: 'GET',
            url: 'facture/api/get_facture?' + param,
            beforeSend: function() {
                console.log('Before Send')
            },
    
            success: function(result) {
              // CALL FUNCTION BELLOW TO UPDATE MODAL WITH FACTURE DETAILS
              console.log(result.facture)
              update_facture_modal(result.facture)
            },
    
            error: function() {
                console.log('error')
            }
        })
  
    }
    // #########END OF FACTURE SHOWING CODE######### 
    
    function show_facture(id) {
      // CALL GET FACTURE FUNCTION TO GO AND GET FCTURE
      get_facture(id)
    }
  
    function pay_facture() {
      //THIS FUNCTION WILL MAKE API CALL WITH DOSSIER ID TO PAY FACTURE
      // let param = "id=" + id_to_pay_0 & "status="+"A"
      // var form = document.getElementById('form');
  
      // csrftoken = form.getElementsByTagName('input')[0].value;
  
      $.ajax({
            method: 'POST',
            url: 'caisse/api/pay_facture',
            headers: { "X-CSRFTOKEN": csrftoken  },
            beforeSend: function() {
                console.log('Before Send')
            },
            data: {id: id_to_pay_0 , status: "PM1"},
            success: function(result) {
              // CALL FUNCTION BELLOW TO UPDATE MODAL WITH FACTURE DETAILS
              console.log('facture paid')
              genarate_next_facture()
              // window.location.reload()
            },
    
            error: function() {
                console.log('error')
            }
        })
    }
  
    function set_id_to_pay_0(id) {
      id_to_pay_0 = id;
      console.log('ID TO PAY BELLOW')
      console.log(id)
    }
  
  </script>
  {% endblock %}
</div>
