{% extends 'recouvrement/layouts/base.html' %} {% load static %} {% block content %}

<div class="margin-bottom-30">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li class="active">
          <a href="#">Nombre de contacts<span class="badge">342</span></a>
        </li>
        <li class="active">
          <a href="#">Liste des injoignables<span class="badge">26</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="templatemo-alerts">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span
              ><span class="sr-only">Close</span>
            </button>
            Tout est en ordre vous pouvez continuer.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="templatemo-alerts">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span
              ><span class="sr-only">Fermer</span>
            </button>
            Vous avez 2 messages en attente.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br />
<div class="row">
  <div class="col-md-12">
    <div class="panel-group" id="accordion">
      <!-- <form class="" role="form" id="templatemo-preferences-form"> -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseOne"
            >
              <span class="badge">1</span>&nbsp; Changement structure
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <form class="navbar-form">
                  <input
                    type="text"
                    class="form-control"
                    id="templatemo_search_box"
                    placeholder="..."
                  />
                  <span class="btn btn-default">Rechercher</span>
                </form>

                <div class="btn-group pull-right" id="templatemo_sort_btn">
                  <button type="button" class="btn btn-default">
                    Trier par
                  </button>
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                  >
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">N° client</a></li>
                    <li><a href="#">Téléphone</a></li>
                    <li><a href="#">Nom</a></li>
                    <li><a href="#">Prénom</a></li>
                    <li><a href="#">N°dossier</a></li>
                    <li><a href="#">Statut</a></li>
                    <li><a href="#">Dernier Paiement</a></li>
                    <li><a href="#">Coeff recouvr</a></li>
                    <li><a href="#">Appelé & récouvré</a></li>
                  </ul>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>N° client</th>
                        <th>Téléphone</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>N°dossier</th>
                        <th>Statut</th>
                        <th>Dernier Paiement</th>
                        <th>Coeff recouvr</th>
                        <th>Appelé & récouvré</th>
                        <th>Dernier appel</th>
                        <th>hr</th>
                        <th>Changer</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>35975975</td>
                        <td>887786455</td>
                        <td>Wade</td>
                        <td>Abdou</td>
                        <td>484084058</td>
                        <td>R1</td>
                        <td>15/03/2014</td>
                        <td>1</td>
                        <td>non</td>
                        <td>15/01/2014</td>
                        <td>12:35</td>
                        <td>
                          <!-- Split button -->
                          <div classbtn-group">
                          <button
                            type="button"
                            class="btn btn-default"
                            data-toggle="modal"
                            data-target="#modifPenalite"
                          >
                            Changer
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseTwo"
            >
              <span class="badge">2</span>&nbsp; Modifications
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 margin-bottom-15">
                <form class="navbar-form">
                  <input
                    type="text"
                    class="form-control"
                    id="templatemo_search_box"
                    placeholder="..."
                  />
                  <span class="btn btn-default">Rechercher</span>
                </form>

                <div class="btn-group pull-right" id="templatemo_sort_btn">
                  <button type="button" class="btn btn-default">
                    Trier par
                  </button>
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                  >
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">N° client</a></li>
                    <li><a href="#">Téléphone</a></li>
                    <li><a href="#">Nom</a></li>
                    <li><a href="#">Prénom</a></li>
                    <li><a href="#">N°dossier</a></li>
                    <li><a href="#">Statut</a></li>
                    <li><a href="#">Dernier Paiement</a></li>
                    <li><a href="#">Coeff recouvr</a></li>
                    <li><a href="#">Appelé & récouvré</a></li>
                  </ul>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>N° client</th>
                        <th>Téléphone</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>N°dossier</th>
                        <th>Statut</th>
                        <th>Dernier Paiement</th>
                        <th>Coeff recouvr</th>
                        <th>Appelé & récouvré</th>
                        <th>Dernier appel</th>
                        <th>hr</th>
                        <th>Modifier</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>35975975</td>
                        <td>887786455</td>
                        <td>Wade</td>
                        <td>Abdou</td>
                        <td>484084058</td>
                        <td>R1</td>
                        <td>15/03/2014</td>
                        <td>1</td>
                        <td>non</td>
                        <td>15/01/2014</td>
                        <td>12:35</td>
                        <td>
                          <!-- Split button -->
                          <div classbtn-group">
                          <button
                            type="button"
                            class="btn btn-default"
                            data-toggle="modal"
                            data-target="#modifPenalite"
                          >
                            Modifier
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseThree"
            >
              <span class="badge">3</span>&nbsp; Délocalisation
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 margin-bottom-15">
                <form class="navbar-form">
                  <input
                    type="text"
                    class="form-control"
                    id="templatemo_search_box"
                    placeholder="..."
                  />
                  <span class="btn btn-default">Rechercher</span>
                </form>

                <div class="btn-group pull-right" id="templatemo_sort_btn">
                  <button type="button" class="btn btn-default">
                    Trier par
                  </button>
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                  >
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">N° client</a></li>
                    <li><a href="#">Téléphone</a></li>
                    <li><a href="#">Nom</a></li>
                    <li><a href="#">Prénom</a></li>
                    <li><a href="#">N°dossier</a></li>
                    <li><a href="#">Statut</a></li>
                    <li><a href="#">Dernier Paiement</a></li>
                    <li><a href="#">Coeff recouvr</a></li>
                    <li><a href="#">Appelé & récouvré</a></li>
                  </ul>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>N° client</th>
                        <th>Téléphone</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>N°dossier</th>
                        <th>Statut</th>
                        <th>Dernier Paiement</th>
                        <th>Coeff recouvr</th>
                        <th>Appelé & récouvré</th>
                        <th>Dernier appel</th>
                        <th>hr</th>
                        <th>Délocaliser</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>35975975</td>
                        <td>887786455</td>
                        <td>Wade</td>
                        <td>Abdou</td>
                        <td>484084058</td>
                        <td>R1</td>
                        <td>15/03/2014</td>
                        <td>1</td>
                        <td>non</td>
                        <td>15/01/2014</td>
                        <td>12:35</td>
                        <td>
                          <!-- Split button -->
                          <div classbtn-group">
                          <button
                            type="button"
                            class="btn btn-default"
                            data-toggle="modal"
                            data-target="#modifPenalite"
                          >
                            Délocaliser
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseFour"
            >
              <span class="badge">4</span>&nbsp; Repêchages
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 margin-bottom-15">
                <form class="navbar-form">
                  <input
                    type="text"
                    class="form-control"
                    id="templatemo_search_box"
                    placeholder="..."
                  />
                  <span class="btn btn-default">Rechercher</span>
                </form>

                <div class="btn-group pull-right" id="templatemo_sort_btn">
                  <button type="button" class="btn btn-default">
                    Trier par
                  </button>
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                  >
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">N° client</a></li>
                    <li><a href="#">Téléphone</a></li>
                    <li><a href="#">Nom</a></li>
                    <li><a href="#">Prénom</a></li>
                    <li><a href="#">N°dossier</a></li>
                    <li><a href="#">Statut</a></li>
                    <li><a href="#">Dernier Paiement</a></li>
                    <li><a href="#">Coeff recouvr</a></li>
                    <li><a href="#">Appelé & récouvré</a></li>
                  </ul>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>N° client</th>
                        <th>Téléphone</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>N°dossier</th>
                        <th>Statut</th>
                        <th>Dernier Paiement</th>
                        <th>Coeff recouvr</th>
                        <th>Appelé & récouvré</th>
                        <th>Dernier appel</th>
                        <th>hr</th>
                        <th>Repêcher</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>35975975</td>
                        <td>887786455</td>
                        <td>Wade</td>
                        <td>Abdou</td>
                        <td>484084058</td>
                        <td>R1</td>
                        <td>15/03/2014</td>
                        <td>1</td>
                        <td>non</td>
                        <td>15/01/2014</td>
                        <td>12:35</td>
                        <td>
                          <!-- Split button -->
                          <div classbtn-group">
                          <button
                            type="button"
                            class="btn btn-default"
                            data-toggle="modal"
                            data-target="#modifPenalite"
                          >
                            Repêcher
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseFive"
            >
              <span class="badge">5</span>&nbsp; Annulations
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 margin-bottom-15">
                <form class="navbar-form">
                  <input
                    type="text"
                    class="form-control"
                    id="templatemo_search_box"
                    placeholder="..."
                  />
                  <span class="btn btn-default">Rechercher</span>
                </form>

                <div class="btn-group pull-right" id="templatemo_sort_btn">
                  <button type="button" class="btn btn-default">
                    Trier par
                  </button>
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                  >
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">N° client</a></li>
                    <li><a href="#">Téléphone</a></li>
                    <li><a href="#">Nom</a></li>
                    <li><a href="#">Prénom</a></li>
                    <li><a href="#">N°dossier</a></li>
                    <li><a href="#">Statut</a></li>
                    <li><a href="#">Dernier Paiement</a></li>
                    <li><a href="#">Coeff recouvr</a></li>
                    <li><a href="#">Appelé & récouvré</a></li>
                  </ul>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>N° client</th>
                        <th>Téléphone</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>N°dossier</th>
                        <th>Statut</th>
                        <th>Dernier Paiement</th>
                        <th>Coeff recouvr</th>
                        <th>Appelé & récouvré</th>
                        <th>Dernier appel</th>
                        <th>hr</th>
                        <th>Annuler</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>35975975</td>
                        <td>887786455</td>
                        <td>Wade</td>
                        <td>Abdou</td>
                        <td>484084058</td>
                        <td>R1</td>
                        <td>15/03/2014</td>
                        <td>1</td>
                        <td>non</td>
                        <td>15/01/2014</td>
                        <td>12:35</td>
                        <td>
                          <!-- Split button -->
                          <div classbtn-group">
                          <button
                            type="button"
                            class="btn btn-default"
                            data-toggle="modal"
                            data-target="#modifPenalite"
                          >
                            Annuler
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseSix"
            >
              <span class="badge">6</span>&nbsp; Gestion sinistres
            </a>
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 margin-bottom-15">
                <form class="navbar-form">
                  <input
                    type="text"
                    class="form-control"
                    id="templatemo_search_box"
                    placeholder="..."
                  />
                  <span class="btn btn-default">Rechercher</span>
                </form>

                <div class="btn-group pull-right" id="templatemo_sort_btn">
                  <button type="button" class="btn btn-default">
                    Trier par
                  </button>
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                  >
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">N° client</a></li>
                    <li><a href="#">Téléphone</a></li>
                    <li><a href="#">Nom</a></li>
                    <li><a href="#">Prénom</a></li>
                    <li><a href="#">N°dossier</a></li>
                    <li><a href="#">Statut</a></li>
                    <li><a href="#">Dernier Paiement</a></li>
                    <li><a href="#">Coeff recouvr</a></li>
                    <li><a href="#">Appelé & récouvré</a></li>
                  </ul>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>N° client</th>
                        <th>Téléphone</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>N°dossier</th>
                        <th>Statut</th>
                        <th>Dernier Paiement</th>
                        <th>Coeff recouvr</th>
                        <th>Appelé & récouvré</th>
                        <th>Dernier appel</th>
                        <th>hr</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>35975975</td>
                        <td>887786455</td>
                        <td>Wade</td>
                        <td>Abdou</td>
                        <td>484084058</td>
                        <td>R1</td>
                        <td>15/03/2014</td>
                        <td>1</td>
                        <td>non</td>
                        <td>15/01/2014</td>
                        <td>12:35</td>
                        <td>
                          <!-- Split button -->
                          <div classbtn-group">
                          <button
                            type="button"
                            class="btn btn-default"
                            data-toggle="modal"
                            data-target="#modifPenalite"
                          >
                            Gérer le sinistre
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %} {% block modal %}
    <div
      class="modal fade"
      id="confirmModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span
              ><span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
              Are you sure you want to sign out?
            </h4>
          </div>
          <div class="modal-footer">
            <a href="../logout" class="btn btn-primary">Yes</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              No
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endblock %} {% block scripts %}
    <script type="text/javascript">
      var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
      };
      var lineChartData = {
        labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
        ],
        datasets: [
          {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [
              randomScalingFactor(),
              randomScalingFactor(),
              randomScalingFactor(),
              randomScalingFactor(),
              randomScalingFactor(),
              randomScalingFactor(),
              randomScalingFactor(),
            ],
          },
          {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [
              randomScalingFactor(),
              randomScalingFactor(),
              randomScalingFactor(),
              randomScalingFactor(),
              randomScalingFactor(),
              randomScalingFactor(),
              randomScalingFactor(),
            ],
          },
        ],
      }; // lineChartData

      var pieChartData = [
        {
          value: 300,
          color: "#F7464A",
          highlight: "#FF5A5E",
          label: "Red",
        },
        {
          value: 50,
          color: "#46BFBD",
          highlight: "#5AD3D1",
          label: "Green",
        },
        {
          value: 100,
          color: "#FDB45C",
          highlight: "#FFC870",
          label: "Yellow",
        },
      ]; // pie chart data

      // radar chart
      var radarChartData = {
        labels: [
          "Eating",
          "Drinking",
          "Sleeping",
          "Designing",
          "Coding",
          "Cycling",
          "Running",
        ],
        datasets: [
          {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 90, 81, 56, 55, 40],
          },
          {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 96, 27, 100],
          },
        ],
      }; // radar chart

      // polar area chart
      var polarAreaChartData = [
        {
          value: 300,
          color: "#F7464A",
          highlight: "#FF5A5E",
          label: "Red",
        },
        {
          value: 50,
          color: "#46BFBD",
          highlight: "#5AD3D1",
          label: "Green",
        },
        {
          value: 100,
          color: "#FDB45C",
          highlight: "#FFC870",
          label: "Yellow",
        },
        {
          value: 40,
          color: "#949FB1",
          highlight: "#A8B3C5",
          label: "Grey",
        },
        {
          value: 120,
          color: "#4D5360",
          highlight: "#616774",
          label: "Dark Grey",
        },
      ];

      window.onload = function () {
        var ctx_line = document
          .getElementById("templatemo-line-chart")
          .getContext("2d");
        var ctx_bar = document
          .getElementById("templatemo-bar-chart")
          .getContext("2d");
        var ctx_pie = document
          .getElementById("templatemo-pie-chart")
          .getContext("2d");
        var ctx_doughnut = document
          .getElementById("templatemo-doughnut-chart")
          .getContext("2d");
        var ctxRadar = document
          .getElementById("templatemo-radar-chart")
          .getContext("2d");
        var ctxPolar = document
          .getElementById("templatemo-polar-chart")
          .getContext("2d");

        window.myLine = new Chart(ctx_line).Line(lineChartData, {
          responsive: true,
        });
        window.myBar = new Chart(ctx_bar).Bar(lineChartData, {
          responsive: true,
        });
        window.myPieChart = new Chart(ctx_pie).Pie(pieChartData, {
          responsive: true,
        });
        window.myDoughnutChart = new Chart(ctx_doughnut).Doughnut(
          pieChartData,
          {
            responsive: true,
          }
        );
        var myRadarChart = new Chart(ctxRadar).Radar(radarChartData, {
          responsive: true,
        });
        var myPolarAreaChart = new Chart(ctxPolar).PolarArea(
          polarAreaChartData,
          {
            responsive: true,
          }
        );
      };
    </script>
    {% endblock %}
  </div>
</div>
