{% extends 'recouvrement/layouts/base.html' %}
{% load static %}


{% block content %}

    
<div class="margin-bottom-30">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills">
          <li class="active"><a href="#">Dossiers en recouvrement<span class="badge">42</span></a></li>
          <li class="active"><a href="#">Dossiers régularisés<span class="badge">26</span></a></li>
          <li class="active"><a href="#">Dossiers cloturés<span class="badge">14</span></a></li> 
        </ul>          
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-6">
      <div class="templatemo-alerts">
        <div class="row">
          <div class="col-md-12">                    
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              Tout est en ordre vous pouvez continuer.
            </div>
          </div>  
        </div>            
      </div>              
    </div>
    <div class="col-md-6">
      <div class="templatemo-alerts">
        <div class="row">
          <div class="col-md-12">                    
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
              Vous avez 2 messages en attente.
            </div>           
          </div>  
        </div>            
      </div>              
    </div>
  </div>

   <div class="row">

    
  </div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
</script>
{% endblock %}