{% extends 'recouvrement/layouts/base.html' %}
{% load static %}


{% block content %}
<div class="margin-bottom-30">
    <div class="row">
      <div class="col-md-12">
        <form class="navbar-form">
          <ul class="nav nav-pills">
            <!--<li class="active"><a href="#">Compte ouvert<span class="badge">42</span></a></li>
            <li class="active"><a href="#">Non finalisé <span class="badge">26</span></a></li>
            <li class="active"><a href="#">Abandonné <span class="badge">14</span></a></li> -->
            <li>
                <select class="form-control margin-bottom-15" id="typeArticle">
                  <option value="" selected>Etat recouvrement</option>
                  <option>A</option>
                  <option>AJ</option>
                  <option>I</option>
                  <option>CD</option>
                  <option>DAP</option>
                  <option>R</option>
                  <option>A</option>
                  <option>IA</option>
                  <option>S</option>
                  <option>V</option>
                  <option>AFP</option>
                  <option>PML</option>
                  <option>FEL</option>
                  <option>L</option>
                  <option>CONT</option>
                  <option>O</option>
                  <option>RATT</option>
                  <option>ARCH</option>
                  <option>ECL</option>
                  <option>LR</option>
                </select>
              </form>
            </li> 
            <li>
                &nbsp;&nbsp;<input type="text" class="form-control" id="templatemo_search_box" placeholder="N° de dossier">
                <span class="btn btn-default">Afficher</span>
            </li> 
          </ul>    
        </form>      
      </div>
    </div>
  </div>     

  <div class="margin-bottom-30">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills">
          <li class="active"><a href="#">Dossiers en recouvrement<span class="badge">42</span></a></li>
          <li class="active"><a href="#">Dossiers actifs<span class="badge">26</span></a></li>
          <li class="active"><a href="#">Dossiers inactifs<span class="badge">14</span></a></li> 
        </ul>          
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-6">
      <div class="templatemo-alerts">
        <div class="row">
          <div class="col-md-12">                    
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              Il s’agit tout d’abord de pouvoir faire des requêtes dans le but d’apprécier l’efficacité réelle de tout le département du recouvrement.<br>                               
              Statistiques des dossiers actifs<br>                                
              A = Actifs  (Le groupe de clients actifs inclus ceux qui sont à jour, injoignables, DAP, en retard ou en avance)<br>
              A = Actifs (Pourcentage de clients Actifs par rapport aux clients En Cours de Livraison)<br>                        
              AJ = A jour (Pourcentage de clients à jour par rapport aux clients Actifs)<br>                              
              I = Injoignables (Pourcentage de clients injoignables par rapport aux clients Actifs)<br>                         
              CD = Complément de dossiers (Pourcentage de Compléments de dossiers par rapport aux clients Actifs)<br>                              
              DAP = Dossier à Problèmes (Pourcentage de dossiers à problèmes par rapport aux clients )<br>                        
              RX = Retard d’X mois (Pourcentage de dossiers en retard par rapport aux clients Actifs, et différents Pourcentages des R1 par rapport aux clients Actifs, R2 par rapport aux clients Actifs, R3 par rapport aux clients Actifs, R4 par rapport aux clients Actifs, R5 par rapport aux clients Actifs)<br>                                     
              AX = Avance d’X mois (Pourcentage de dossiers en avance par rapport aux clients Actifs, et différents   Pourcentages des A1 par rapport aux clients Actifs, A2 par rapport aux clients Actifs, A3 par rapport aux clients Actifs, A4 par rapport aux clients Actifs, A5 par rapport aux clients actifs)
            </div>
          </div>  
        </div>            
      </div>              
    </div>
    <div class="col-md-6">
      <div class="templatemo-alerts">
        <div class="row">
          <div class="col-md-12">                    
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
              Il s’agit tout d’abord de pouvoir faire des requêtes dans le but d’apprécier l’efficacité réelle de tout le département du recouvrement.<br>                               
              Statistiques des dossiers inactifs<br>                                  
              IA = Inactifs  (Le groupe de clients inactifs inclus ceux qui Soldés, PML,  L, Dossiers transmis  en contentieux, Dossiers Annulés, Dossiers en rattrapage ou repêchage, Dossiers archivés)<br>                                               
              S = Soldés (Pourcentage de clients soldés par rapport aux clients actifs)<br>                             
              V = Vérifications de fins de paiements (pourcentage de clients soldés dont les paiements et dossiers  ont été vérifiés)<br>                               
              AFP = Emission Attestation de fins de paiements (pourcentage des clients soldés ayant reçus les AFP)<br>                                 
              PML = Plan de masse livré (Pourcentage des clients soldés qui ont acheté leur PML chez nous)<br>                                 
              FEL = Emission certificats de félicitations (Pourcentage des clients soldés qui ont reçu les félicitations)<br>                                  
              L = Livré (Pourcentage des clients soldés qui ont été livrés)<br>                                
              CONT= Dossier transmis en contentieux (Pourcentage de dossiers en contentieux par rapport aux clients actifs)<br>                                  
              0 = Annulés (Pourcentage de dossiers annulés par rapport aux clients actifs)<br>                              
              RATT = Dossier en rattrapage ou repêchage (Pourcentage de dossiers rattrapés ou repêchés par rapport aux dossiers annulés)<br>                               
              ARCH = Dossiers archivés (archives par rapport au total)<br>                               
              LR = Liste rouge (Clients listés par rapport au total)<br>                                  
              ECL = Dossiers En Cours de Livraison (Poucentage de dossiers en cours de livraisons par rapport aux dossiers clients actifs)         
            </div>           
          </div>  
        </div>            
      </div>              
    </div>
  </div>

  <div class="row">
    
    <div class="col-md-12">
      <div class="btn-group pull-right" id="templatemo_sort_btn">
  
        <select onchange="sort_etat(this.value)" style="border: 1px solid #ddd; padding-top: .5rem; padding-bottom: .5rem; padding-left: 1rem; font-size: 1.25rem;" class="form-select">
          <option disabled selected value="">Sort By</option>
          <option value="">All</option>
          <option value="uid">N° client</option>
          <option value="phone_1">Téléphone</option>
          <option value="nom">Nom</option>
          <option value="prenom">Prénom</option>
          <option value="statut">Statut</option>
          <option value="dernier_appel">Dernier Paiement</option>
          <option value="coeff_recouv">Coeff recouvr</option>
          <option value="appele_recouvre">Appelé & récouvré</option>
        </select>
      </div>
      <div class="table-responsive">
        <table id="table" class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>N° client</th>
              <th>Téléphone</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>N°dossier</th>
              <th>Statut</th>
              <th>Dernier Paiement</th>
              <th>Coeff recouvr</th>
              <th>Appelé & récouvré</th>
              <th>Dernier appel</th>
              <th>Modifier</th>
              <th>Ouvrir</th>
              <th>Consulter</th>
            </tr>
          </thead>
          <tbody>
            {% for dossier in all_dossier %}
            <!-- <tr class="danger"> -->
            <td>{{ dossier.client.uid }}</td>
            <td>{{ dossier.client.phone_1 }}</td>
            <td>{{ dossier.client.nom }}</td>
            <td>{{ dossier.client.prenom }}</td>
            <td>{{ dossier.uid }}</td>
            <td>{{ dossier.statut }}</td>
            <td>{{ dossier.date_dernier_paiement }}</td>
            <td>{{ dossier.coeff_recouv }}</td>
            <td>{{ dossier.appele_recouvre }}</td>
            <td>{{ dossier.dernier_appel }}</td>
            <td>
              <!-- Split button -->
              <div classbtn-group>
              <button
                type="button"
                class="btn btn-default"
                data-toggle="modal"
                data-target="#confirmPlan"
              >
                Ouvrir
              </button>
            </td>
            <td>
              <!-- Split button -->
              <div classbtn-group>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#confirmOpen">Ouvrir</button>
              </div>
            </td>
            <td><a href="#" class="btn btn-link">Consulter</a></td>
          <!-- </tr> -->
          {% endfor  %}
          </tbody>
        </table>
      </div>
      <ul class="pagination pull-right">
        <li class="disabled" onclick="prev()" id="prev"><a >&laquo;</a></li>
        {% for i in page_list %}
        <li class="{% if i == page %}active {% endif %}">
          <a class="btn" onclick="paginate_table('{{ i }}')">{{ i }} <span class="sr-only">(current)</span></a>
        </li>
        {% endfor %}
        <li id="next" onclick="next()"><a >&raquo;</a></li>
      </ul>
    </div>
  </div>

{% endblock %}


{% block scripts %}
<script type="text/javascript"></script>
{% endblock %}