<ul class="templatemo-sidebar-menu">     
    <li class="sub active open">
      <a href="javascript:;">
        <i class="fa fa-users"></i> Direction du recouvrement <div class="pull-right"><span class="caret"></span></div>
      </a>
      <ul class="templatemo-submenu">
        <li><a href="{% url 'etat_recouvrement' %}">Etat des recouvrements</a></li>
        <li><a href="{% url 'contacts' %}">Gestion contacts</a></li>             
        <li><a href="{% url 'litiges' %}">Gestion litiges</a></li>
        <li><a href="{% url 'finalisations' %}">Finalisations</a></li>
        <li><a href="{% url 'rapports' %}">Rapports</a></li>
      </ul>
    </li>

    <li class="sub">
      <a href="javascript:;">
        <i class="fa fa-folder"></i> Etats dossiers <div class="pull-right"><span class="caret"></span></div>
      </a>
      <ul class="templatemo-submenu">
        <li><a href="{% url 'dossier-recouvrement' %}">Etat des recouvrements</a></li>
        <li><a href="{% url 'dossier-statistique' %}">Etat statistiques</a></li>             
        <li><a href="{% url 'dossier-profil' %}">Profils dossiers</a></li>
        <li><a href="{% url 'dossier-recouvrement-etats-complets' %}">Etats dossiers complets</a></li>
      </ul>
    </li>
    <li class="sub">
      <a href="javascript:;">
        <i class="fa fa-book"></i> Contacts <div class="pull-right"><span class="caret"></span></div>
      </a>
      <ul class="templatemo-submenu">
        <li><a href="rappels.html">Appels manuels</a></li>
        <li><a href="rsms.html">SMS manuels</a></li>             
        <li><a href="rautosms.html">Auto SMS</a></li>
        <li><a href="remails.html">Emails manuels</a></li>
        <li><a href="rautoemails.html">Auto emails</a></li>             
        <li><a href="rannotation.html">Annotation</a></li>
      </ul>
    </li>
    <li class="sub">
      <a href="javascript:;">
        <i class="fa fa-check-square"></i> Gestion finalisation <div class="pull-right"><span class="caret"></span></div>
      </a>
      <ul class="templatemo-submenu">
        <li><a href="rverifications.html">Vérifications</a></li>
        <li><a href="rattestations.html">Attestations</a></li>             
        <li><a href="rpml.html">Plan de masse local</a></li>
        <li><a href="rfelicitations.html">Certif. félicitations</a></li>
        <li><a href="rattributions.html">Certif. attributions</a></li>             
      </ul>
    </li>
    <li><a href="rdcpt.html"><i class="fa fa-folder-open"></i>Dossiers crédits prop. terriens</a></li>
    <li><a href="rmodifrestructure.html"><i class="fa fa-cubes"></i>Modif & restructure</a></li>
    <li class="sub">
      <a href="javascript:;">
        <i class="fa fa-eraser"></i> Annulation <div class="pull-right"><span class="caret"></span></div>
      </a>
      <ul class="templatemo-submenu">
        <li><a href="rannulations.html">Annulation automatique</a></li>
        <li><a href="rannulationcourrier.html">Annulation par courrier</a></li>             
        <li><a href="rannulationfinalisation.html">Annulation finalisation</a></li>
      </ul>
    </li>  
    <li class="sub">
      <a href="javascript:;">
        <i class="fa fa-fighter-jet"></i> Délocalisation <div class="pull-right"><span class="caret"></span></div>
      </a>
      <ul class="templatemo-submenu">
        <li><a href="rdelocalisations.html">Délocalisation automatique</a></li>
        <li><a href="rdelocalisationcourrier.html">Délocalisation par courrier</a></li>             
        <li><a href="rdelocalisationfinalisation.html">Délocalisation finalisation</a></li>
      </ul>
    </li> 
    <li class="sub">
      <a href="javascript:;">
        <i class="fa fa-exclamation-triangle"></i> Sinistre <div class="pull-right"><span class="caret"></span></div>
      </a>
      <ul class="templatemo-submenu">
        <li><a href="rgestionpr.html">1 Gestion PR</a></li>
        <li><a href="rgestionpr2.html">2 Gestion PR</a></li>             
        <li><a href="rgestionvi.html">1 Gestion VI</a></li>
        <li><a href="rgestionvi2.html">2 Gestion VI</a></li>
        <li><a href="rgestionrejets.html">Gestion rejets</a></li>
      </ul>
    </li>    
    <li class="sub">
      <a href="javascript:;">
        <i class="fa fa-magnet"></i> Repêchage<div class="pull-right"><span class="caret"></span></div>
      </a>
      <ul class="templatemo-submenu">
        <li><a href="rrepechage.html">Repêchage automatique</a></li>
        <li><a href="rrepechage2.html">Repêchage 2</a></li>
      </ul>
    </li>         
    <li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>Sign Out</a></li>
  </ul>